@{
    ViewBag.Title = "旅行主题";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<h4 class="d_title">
    旅行主题</h4>
<p class="d_cont">
    鸿鹄逸游 HHtravel」创作挑战极限，服务精雕细琢，打造9大主题50个高端旅游行程；您可随意选择最适合您及家人、亲友的行程，体验各式主题的奢华享受与备受尊宠的高端礼遇。</p>
<ul class="d_photo_list">
    <li>
        <img alt="" src="@Url.Content("~/images/theme_pic-1_cn.jpg")" /></li>
    <li>
        <img alt="" src="@Url.Content("~/images/theme_pic-2_cn.jpg")" /></li>
    <li>
        <img alt="" src="@Url.Content("~/images/theme_pic-3_cn.jpg")" /></li>
    <li>
        <img alt="" src="@Url.Content("~/images/theme_pic-4_cn.jpg")" /></li>
    <li>
        <img alt="" src="@Url.Content("~/images/theme_pic-5_cn.jpg")" /></li>
    <li>
        <img alt="" src="@Url.Content("~/images/theme_pic-6_cn.jpg")" /></li>
    <li>
        <img alt="" src="@Url.Content("~/images/theme_pic-7_cn.jpg")" /></li>
    <li>
        <img alt="" src="@Url.Content("~/images/theme_pic-8_cn.jpg")" /></li>
    <li>
        <img alt="" src="@Url.Content("~/images/theme_pic-9_cn.jpg")" /></li>
</ul>
