@model HHTravel.CRM.Booking_Online.Site.Models.RoomFlightModel
<script type="text/javascript">
    function openOrderWin() {
        openwin('about:blank');
        document["order_form"].submit();
    }
</script>
<div class="calendar_order_warp">
    <h6 class="process">
        <span>2</span>房型.航班资讯</h6>
    <table border="0" cellpadding="0" cellspacing="0" class="tbl_order">
        <tr class="tr_hide">
            <td style="width: 80px;">
            </td>
            <td style="width: 100px;">
            </td>
            <td style="width: 50px;">
            </td>
            <td style="width: 120px;">
            </td>
            <td style="width: 120px;">
            </td>
            <td style="width: 70px;">
            </td>
            <td style="width: 70px;">
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td class="name">
                出发日期
            </td>
            <td colspan="6" class="tbl_date tbl_price">
                @Html.DepartureDate(Model.DepartureDate)
            </td>
            @{
                var ticketModel = Model.TicketModelList.First();
            }
            <td rowspan="@(Model.RoomClassModelList.Count + ticketModel.FlightModelList.Count + 3)">
                @*begin form*@
                @using (Html.BeginForm("Index1", "Order", FormMethod.Post, new { @name = "order_form", @target = "newwindow" }))
                {
                    @Html.HiddenFor(rf => rf.PreOrderModel.ProductId)
                    @Html.HiddenFor(rf => rf.PreOrderModel.ProductNo)
                    @Html.HiddenFor(rf => rf.PreOrderModel.ProductName)
                    @Html.HiddenFor(rf => rf.PreOrderModel.DepartureDate)
                    @Html.HiddenFor(rf => rf.PreOrderModel.PlanReturnDate)
                    @Html.HiddenFor(rf => rf.PreOrderModel.Days)
                    @Html.HiddenFor(rf => rf.PreOrderModel.TravelType)
                    <input id="btnOrder" type="submit" value="" class="order_btn" onclick="javascript:return openOrderWin();" />
                }@*end form*@
                <p class="order_infor">
                    <img alt="订购须知" src="@Url.Content("~/images/order_ico.jpg")" />
                    <a href="@Url.Action("OrderNotes", new { productNo = Model.ProductNo })" class="new-window">
                        订购须知</a></p>
            </td>
        </tr>
        <tr>
            <td class="name">
                房型
            </td>
            <td class="name" colspan="2">
                早晚餐说明
            </td>
            <td class="name" colspan="2">
                价格
            </td>
            <td class="name" colspan="2">
                席次
            </td>
        </tr>
        @for (int i = 0; i < Model.RoomClassModelList.Count; i++)
        {
            var rc = Model.RoomClassModelList[i];
            <tr>
                <td>
                    @rc.RoomClassName
                </td>
                <td colspan="2">
                    @(!string.IsNullOrEmpty(rc.BreakfastDinnerTip) ? rc.BreakfastDinnerTip : "无")
                </td>
                <td colspan="2" class="tbl_price">
                    RMB @Html.DisplayFor(m => m.RoomClassModelList[i].SegmentPrice) 元(含税)/人
                </td>
                @if (i == 0)
                {
                    <td colspan="2" rowspan="@Model.RoomClassModelList.Count">
                        @Model.MaxPersonNum
                    </td>
                }
            </tr>
        }
        <tr>
            <td class="name">
                行程
            </td>
            <td class="name">
                航空公司
            </td>
            <td class="name">
                航班
            </td>
            <td class="name">
                出发地
            </td>
            <td class="name">
                到达地
            </td>
            <td class="name">
                出发时间
            </td>
            <td class="name">
                到达时间
            </td>
        </tr>
        @foreach (var f in ticketModel.FlightModelList)
        {
            <tr>
                <td>
                    @(f.SectionName)
                </td>
                <td class="tbl_price">
                    @f.Airline
                </td>
                <td class="tbl_price">
                    @f.FlightNo
                </td>
                <td class="tbl_price">
                    @f.DepartureAirport
                </td>
                <td class="tbl_price">
                    @f.ArrivalAirport
                </td>
                <td class="tbl_price">
                    @f.DepartureTime.Value.ToString(@"hh\:mm")
                </td>
                <td class="tbl_price">
                    @f.ArrivalTime.Value.ToString(@"hh\:mm")
                </td>
            </tr>
        }
    </table>
    <p class="tbl_send_warp">
        @{
            // 如果不是从日历页面进入，“回上一页”的逻辑仍是返回日历页面
            var backUrl = Url.Action("CalendarRoomFlight", new
            {
                productNo = Model.ProductNo,
                year = Model.Year,
                month = Model.Month,
                step = 1
            });
        }
        <input id="btnBack" type="button" class="back_btn" value="回上一页" onclick="javascript:location='@backUrl';" /></p>
</div>