@model HHTravel.CRM.Booking_Online.Site.Models.ProductModel
@{
    var p = Model;
}
<script type="text/javascript">
    $(function () {
        showPhoto(0);
        var imgs = [];
        // c# code
        @foreach (var photo in p.PhotoList)
        {
            <text>imgs.push('@Html.Image(photo)');</text>
        }
        var i = 0, count = imgs.length;
        var $container = $('<span />');
        var activeAlbum = function(){
            i++;
            if(i == count)
            {
                $('.img_detail').append($container.html());
                showPhoto(0);
                //查看更多图片层
                $('#more_img_id').click(function () {
                    $('.mask_layer').addClass('mask_layer_show');
                    $('.img_layer').show();
                });
            }
        }
        $.each(imgs, function(j, img){
            $container.append($(img));
            $(img).bind('load error',activeAlbum);
        });

        $('.close_ico').click(function () {
            $('.mask_layer').removeClass('mask_layer_show');
            $('.img_layer').hide();
        });
    });
    function showPhoto(photoIndex) {
        var count = $('.img_detail>img').length;
        photoIndex = photoIndex <0 ? 0 : photoIndex;
        photoIndex = photoIndex>= count ? count - 1 : photoIndex;
        var $img = $('.img_detail>img').eq(photoIndex);

        var secCount = Math.floor((count - 1) / 10) + 1;
        var secIndex = Math.floor(photoIndex / 10);
        var photoIndexInSec = photoIndex % 10;

        $('#photolinks a').hide();
        $('#photolinks a').filter(function (index) {
            return index>= secIndex * 10 && index < (secIndex + 1) * 10;
        }).show();

        if (secCount> 1 && secIndex < secCount - 1) $('a.more').show();
        else $('a.more').hide();
        if (secCount> 1 && secIndex> 0) $('a.less').show();
        else $('a.less').hide();

        if (photoIndex == 0) $('a.left').hide();
        else $('a.left').show();
        if (photoIndex == count - 1) $('a.right').hide();
        else $('a.right').show();

        $img.show().siblings().hide();
        $('.img_desc').text($img.attr('title'));
        $('#photolinks>a').eq(photoIndex).addClass('cur').siblings().removeClass();
    }
    function showMore() {
        var photoIndex = $('.img_detail>img:visible').index();
        var secIndex = photoIndex / 10;
        var nextPhotoIndex = (secIndex + 1) * 10;
        showPhoto(nextPhotoIndex);
    }
    function showLess() {
        var photoIndex = $('.img_detail>img:visible').index();
        var secIndex = photoIndex / 10;
        var prevPhotoIndex = (secIndex - 1) * 10;
        showPhoto(prevPhotoIndex);
    }
    function prevPhoto() {
        var photoIndex = $('.img_detail>img:visible').index();
        var prevPhotoIndex = photoIndex - 1;
        showPhoto(prevPhotoIndex);
    }
    function nextPhoto() {
        var photoIndex = $('.img_detail>img:visible').index();
        var nextPhotoIndex = photoIndex + 1;
        showPhoto(nextPhotoIndex);
    }
</script>
<!--详细行程-->
<div class="highlights" style="display: block;">
    <h5>
        详细行程</h5>
    <p class="d_visited_type">
        <span>★入内参观</span><span>☆下车参观</span></p>
    <div class="sort_page_warp">
        <p class="page">
            @Html.Partial("_Pager", (PagerModel)ViewBag.PagerModel)
        </p>
    </div>
    <div class="day_list_warp">
        <div class="d_photos">
            @Html.Image(p.MainPhoto, Url.Content("~/images/nopic.gif"), p.ProductName)
            @if (p.PhotoList.Count> 0)
            {<p class="more_img" id="more_img_id">
                <a href="#">看更多相片</a></p>}
            @if (Uri.IsWellFormedUriString(Model.Consultation, UriKind.Absolute))
            {
                <p class="travel_link">
                    <a href="@Model.Consultation" class="new-window">旅游资讯</a></p>
            }</div>
        @for (int i = 0; i < p.ScheduleItemList.Count && i < p.ScheduleItemList.Count; i++)
        {
            var s = p.ScheduleItemList[i];
            <div class="day_list_item">
                <h6 class="d_num">
                    第 @s.Sort 天：@s.Name
                </h6>
                <p class="d_desc">
                    @Html.Raw(s.Infos.FlightInfo ?? s.Infos.SpotsInfo)</p>
                <p class="d_meal">
                    @Html.Raw(s.Infos.CateringInfo)</p>
                <p class="d_hotal">
                    @Html.Raw(s.Infos.HotelInfo)
                </p>
            </div>
        }
    </div>
</div>
<div class="sort_page_warp mt20" style="position: static;">
    <p class="page">
        @Html.Partial("_Pager", (PagerModel)ViewBag.PagerModel)
    </p>
</div>
<!--遮罩层-->
<div class="mask_layer">
</div>
<div class="img_layer" style="behavior: url(@Url.Content("~/css/PIE.htc"));">
    <a class="close_ico">
        <img alt="关闭" src="@Url.Content("~/images/icon_close.gif")" /></a>
    <p class="img_page">
        @{
            var pagerModel = (PagerModel)ViewBag.PhotoPagerModel;
            pagerModel.TextVisible = false;
            pagerModel.InReverserOrder = false;
        }
        @Html.Partial("_Pager", pagerModel)
    </p>
    <div class="img_list">
        <a class="left" href="javascript:prevPhoto();"><em class="ico_left"></em></a>
        <p class="img_detail">
            @*异步加载后fill*@
        </p>
        <a class="right" href="javascript:nextPhoto();"><em class="ico_right"></em></a>
    </div>
    <p class="img_desc">
        图片描述</p>
</div>