<div class="footer clearfix">
    <p class="copy_right">
        <a href="@Url.Content("~/Home/BrandConcept")">关于HHtravel</a><a href="@Url.Content("~/Home/PrivacyPolicy")">隐私政策</a><a
            href="@Url.Content("~/Home/NewsLetter")">电子报订阅</a><a href="@Url.Content("~/Home/ContactUs")">联络我们</a><a href="http://weibo.com/u/2667201671" target="_blank" class="ico_attention">关注鸿鹄逸游</a>
    </p>
    <p class="server_time">
        服务时间 周一至周五 9：00～18：00</p>
    <p class="f_share">分享<a href="http://campaign.ctrip.com/Destinations/fenxiang/fenxiang.asp?type=1&amp;ti=实现高端旅游者的梦想‧鸿鹄逸游 HHtravel&amp;url=http://www.hhtravel.com/index_cn.html" target="_blank"><img alt="转贴到开心网" src="@Url.Content("~/images/icon10.gif")" /></a>
    <a href="http://campaign.ctrip.com/Destinations/fenxiang/fenxiang.asp?type=2&amp;ti=实现高端旅游者的梦想‧鸿鹄逸游 HHtravel&amp;url=http://www.hhtravel.com/index_cn.html" target="_blank"><img alt="分享到QQ" src="@Url.Content("~/images/icon11.gif")" /></a>
    <a href="http://campaign.ctrip.com/Destinations/fenxiang/fenxiang.asp?type=5&amp;ti=实现高端旅游者的梦想‧鸿鹄逸游 HHtravel&amp;url=http://www.hhtravel.com/index_cn.html" title="收藏到豆瓣" target="_blank"><img alt="推荐给你的豆瓣友邻" src="@Url.Content("~/images/icon13.gif")" /></a>
    <a href="http://campaign.ctrip.com/Destinations/fenxiang/fenxiang.asp?type=6&amp;ti=实现高端旅游者的梦想‧鸿鹄逸游 HHtravel&amp;url=http://www.hhtravel.com/index_cn.html" target="_blank"><img alt="分享到百度" src="@Url.Content("~/images/icon14.gif")" /></a>
    <a href="http://campaign.ctrip.com/Destinations/fenxiang/fenxiang.asp?type=7&amp;ti=实现高端旅游者的梦想‧鸿鹄逸游 HHtravel&amp;url=http://www.hhtravel.com/index_cn.html" target="_blank"><img alt="分享到谷歌" src="@Url.Content("~/images/icon04.gif")" /></a>
    </p>
</div>