<div class="sl_footer">
    <p class="copy_right">
        <a href="@Url.Content("~/Home/BrandConcept")">关于HHtravel</a>
        <a href="@Url.Content("~/Home/PrivacyPolicy")">隐私政策</a>
        <a href="@Url.Content("~/Home/NewsLetter")">电子报订阅</a>
        <a href="@Url.Content("~/Home/ContactUs")">联络我们</a>
        <a href="@Url.IndexCn()">回首页</a>
    </p>
    <p class="server_time">
        服务时间 周一至周五 9：00～18：00</p>
</div>