<div class="header_warp">
<div class="header header_fixed">
    <h2 class="h_logo">
        <a href="@Url.IndexCn()">
            <img alt="鸿鹄逸游" src="@Url.Content("~/images/logo_cn.jpg")" />鸿鹄逸游</a></h2>
    <em></em>
    <div class="h_top">
        <p class="h_slogan">
            <span>「鸿鹄逸游」是<img alt="携程" src="@Url.Content("~/images/ctrip_logo.png")" />环游世界、高端旅游品牌</span></p>
        <!--<p class="h_depart"><a href="#">台北出发</a><a href="#">北京出发</a><a href="../">上海出发</a></p>  -->
        <p class="h_tel" style="top: 5px;">
            400 690 2323</p>
        <ul class="h_menu">
            <li class="one"><a href="@Url.Content("~/Home/BrandConcept")">品牌理念</a></li>
            <li class="two"><a href="@Url.Content("~/Home/Destination")">目的地</a></li>
            <li class="thr"><a href="@Url.Content("~/Home/DepartMonth")">出发月份</a></li>
            <li class="four"><a href="@Url.Content("~/Home/Interest")">旅行主题</a></li>
            <li class="five"><a href="@Url.Content("~/Home/TopTasting")">热门品鉴</a></li>
        </ul>
    </div>
</div>
</div>