@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="description" content="@ViewBag.Description" />
    <title>实现顶级旅游者的梦想‧鸿鹄逸游 HHtravel</title>
    <link rel="shortcut icon" href="@Url.Content("~/images/favicon.ico")" />
    <link href="@Url.Content("~/css/reset.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/css/common.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/css/layout.css")" type="text/css" rel="stylesheet" />
    @*http://lightcss.com/best-way-to-include-jquery/*@
    <script type="text/javascript" src="//lib.sinaapp.com/js/jquery/1.5.2/jquery.min.js"></script>
    <script type="text/javascript">        window.jQuery || document.write('<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")">\x3C/script>')</script>
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F766a55d841fb9ae7cfce57284036f46e' type='text/javascript'%3E%3C/script%3E"));
    </script>
</head>
<body class="idx_bg">
    <div class="idx_center">
        <div id="idx_warpper">
            <h1 class="idx_logo">
                鸿鹄逸游</h1>
        </div>
        <p class="city_enter">
            @foreach (DepartureCity d in ViewBag.DepartureCitys)
            {
                <a href="@Url.IndexCn(d.CityCode)">@(d.CityName)出发</a>
            }
        </p>
    </div>
</body>
<script type="text/javascript">
    $(function () {
        var idx_h = $(window).height();
        $('#idx_warpper').height(idx_h);
    });
</script>
</html>
