<div class="sl_footer">
    <p class="copy_right">
        <a href="@Url.Action("BrandConcept", "Home")">关于HHtravel</a>
        <a href="@Url.Action("PrivacyPolicy", "Home")">隐私政策</a>
        <a href="@Url.Action("Index", "Newsletter")">电子报订阅</a>
        <a href="@Url.Action("ContactUs", "Home")">联络我们</a>
        <a href="@Url.Action("Sitemap", "Home")" class="new-blank">网站地图</a>
        <a href="@Url.Index()">回首页</a>
    </p>
    <p class="server_time">
        服务时间 周一至周五 9：00～18：00</p>
</div>