<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="description" content="@ViewBag.Description" />
    <title>@ViewBag.Title | 鸿鹄逸游 HHtravel</title>
    @Styles.Render("~/Content/css")
    @RenderSection("CSS", required: false)
    @if (!GlobalConfig.CloseBaiDuStatistics)
    {
        <script type="text/javascript">
            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F766a55d841fb9ae7cfce57284036f46e' type='text/javascript'%3E%3C/script%3E"));
        </script>
    }
    @RenderSection("JS", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>