@model HHTravel.CRM.Booking_Online.Site.Models.SearchBoxModel
@Html.Resource(
@<script type="text/javascript">
     $(function () {
         var cityCode = getCookie('DepartureCityCode');
         if (cityCode) {
             $('#ddlDeparturePlace').val(cityCode);
         }

         $('#ddlDestinationGroup').change(function () {
             $("#ddlDestinationRegion").empty();
             $("<option></option>").text("全部").appendTo($("#ddlDestinationRegion"));
             var groupId = $(this).val();
             $.getJSON('@Url.Action("GetDestinationRegions", "Home")', { groupId: groupId }, function (data) {
                 $.each(data, function (i, item) {
                     $("<option></option>").val(item["RegionId"]).text(item["Name"])
                        .appendTo($("#ddlDestinationRegion"));
                 });
                 //重新刷新二级目的地的DIV
                 rSelects();
             });

         });

         var emailDeafultWord = '输入E-mail';
         var regex = /[A-Za-z0-9._%+-]+@@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}/;
         $('#email').focus(function () {
             $('.spw_type_layer').hide();
             if ($(this).val() == emailDeafultWord) {
                 $(this).val('');
             }
         }).blur(function () {
             if ($(this).val() == '') {
                 $(this).val(emailDeafultWord)
             }
         }).val(emailDeafultWord);
         $('#subfrm').submit(function () {
             var $email = $('#email');
             var email = (email != emailDeafultWord) ? $email.val() : '';
             if (!email.match(regex)) {
                 var msg = "请输入正确的电子邮件地址";
                 $('.spw_type_layer p').text(msg);
                 $('.spw_type_layer').show();
                 return false;
             }
             $.post('@Url.Action("Subscribe", "Newsletter")?email=' + email, function (r) {
                 var msg;
                 if (r.IsSuccess) msg = "电子报订阅成功！";
                 else if (r.IsFormatError) msg = "请输入正确的电子邮件地址";
                 else if (r.AlreadySubscribed) msg = "您已经订阅过电子报了";
                 if (msg) {
                     $('.spw_type_layer p').text(msg);
                     $('.spw_type_layer').show();
                 }
             });
             return false;
         });
     });
</script>, "jsSearchBox")
<!--搜索-->
@using (Html.BeginForm("Search", "Product", FormMethod.Get))
{
    <div class="idx_search" style=" height:340px;behavior: url(@Url.Content("~/css/PIE.htc"))">
        <ul class="idx_search_list">
            <li><b class="address_mark">出发地</b><div class="hhtravel_select">
                <select id="ddlDeparturePlace" name="departureCity">
                    <option value="null">全部</option>
                    @foreach (DepartureCity d in Model.DepartureCitys)
                    {
                        if (d.CityName != "台北" && d.CityName != "香港")
                        {
                        <option value="@d.CityCode">@d.CityName</option>
                        }
                    }
                </select></div>
            </li>
            <li><b class="address_mark">目的地</b><div class="hhtravel_select">
                <select id="ddlDestinationGroup" name="destinationGroupId">
                    @foreach (var d in Model.DestinationGroups)
                    {
                        <option value="@d.GroupId">@d.Name</option>
                    }
                </select></div>
                <div class="hhtravel_select" style="margin-top: 8px; _margin-left: 3px;">
                    <select id="ddlDestinationRegion" name="destinationRegionId" style="margin-top: 8px;">
                        <option value="null">全部</option>
                    </select></div>
            </li>
            <li><b>旅游型态</b><div class="hhtravel_select">
                <select name="travelType">
                    <option value="null">全部</option>
                    <option value="1">@TravelType.TravelType1.Description()</option>
                    <option value="4">@TravelType.TravelType4.Description()</option>
                    <option value="2">@TravelType.TravelType2.Description()</option>
                    @if (GlobalConfig.ContainsProductsIsSingleProduct)
                    {
                        <option value="3">@TravelType.TravelType3.Description()</option>
                    }
@*@foreach (var travelType in Model.TravelTypes)
                    {
                        <option value="@((int)travelType)">@travelType.ToString()</option>
                    }*@
                </select></div>
            </li>
            <li style="position: relative;"><b>出发区间</b><em class="idx_txt_ico">自</em><em class="idx_txt_ico1">至</em>
                <input type="text" class="idx_txt date" name="beginDate" value="" onclick="WdatePicker({ minDate: '@Model.DepartureBeginDate.ToString("yyyy-MM-dd")' });" />
                <em class="idx_txt_ico2">
                    <img alt="" src="@Url.Content("~/images/idx_search_ico.gif")" /></em>
                <input type="text" name="endDate" class="idx_txt date" style="margin-top:15px;_margin-left:3px;" value="" onclick="WdatePicker({ minDate: '@Model.DepartureEndDate.ToString("yyyy-MM-dd")' });" /></li>
            <li><b>旅行主题</b><div class="hhtravel_select">
                <select name="interestid">
                    <option value="null">全部</option>
                    @foreach (var d in Model.Interests)
                    {
                        <option value="@d.InterestId">@d.Name</option>
                    }
                </select></div>
            </li>
            <li><b>旅行天数</b><div class="hhtravel_select">
                @Html.DropDownListFor(sbm => sbm.DaysSection, Model.DaysSections)
            </div>
            </li>
        </ul>
        <p class="idx_search_btn">
            <input id="btnSearch" type="submit" value="搜索" /></p>
    </div>
}
@*using (Html.BeginForm("Subscribe", "Newsletter", FormMethod.Post, new { @id = "subfrm" }))
{
    <!--订阅-->
    <div class="idx_search wh_reset" style="margin-top:380px;position:relative; behavior: url(@Url.Content("~/css/PIE.htc"));">
        <p>
            订阅最新情报</p>
        <p>
            @Html.TextBox("email", "", new { @id = "email", @class = "idx_subscribe_text" })
            <input id="btnSub" type="submit" value="订阅" class="idx_subscribe_btn" /></p>
        <!--提示信息层-->
        <div class="spw_type_layer" style="top: 0; left: 30px; behavior: url(@Url.Content("~/css/PIE.htc"));">
            <p style="padding: 0; text-align: left;">
            </p>
            <div class="spw_type_tip idx_tip_reset">
                <em>&#9670</em><span>&#9670</span>
            </div>
        </div>
        <p>
            需要专人服务？<span>400 690 2323</span></p>
    </div>
}*@ <a href="http://www.hhtravel.com/event/2013_6free1/6free1_cn.html">
    <div style="background: #ececec url(@Url.Content("~/images/idx_under_search_bg.jpg")) no-repeat; display: inline; float: left;
    width: 305px; height: 122px; margin-top: 377px; margin-left: -305px; position: relative;">
    </div>
</a>
