@model HHTravel.Site.Models.TopNavModel
@if (Model != null)
{
    <script type="text/javascript">
        $(function () {
            $('.nav span:has(a)').css('color', '#5a5a5a');
        });
    </script>
}
@if (Model != null && Model.Visible)
{
    if (!Model.HideTopImage)
    {
    <div class="photo_warp" style="height: 300px">
        @if (Model.TopImage != null && Model.TopImage.Url != null && Model.TopImage.Url.EndsWith("swf", StringComparison.OrdinalIgnoreCase))
        {
            <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0"
                width="960" height="300">
                <param name="movie" value="@Url.Content(Model.TopImage.Url)" />
                <param name="quality" value="high" />
                <param name="wmode" value="opaque" />
                <!--for IE-->
                <embed src="@Url.Content(Model.TopImage.Url)" wmode="opaque" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer"
                    type="application/x-shockwave-flash" width="960" height="300"></embed><!--for FF-->
            </object>
        }
        else
        {
            <img id="topImgLoading" alt="hhTravel" src="@Url.Content("~/images/loading.gif")") />
            <script type="text/javascript">
                $('@Html.Image(Model.TopImage, Url.Content("~/images/default_cn.jpg"))').load(function () {
                    var src = $(this).attr('src');
                    $('#topImgLoading').attr('src', src);
                });
            </script>
        }
    </div>
    }
    <div class="nav">
        <span><a href="@Url.Index()">
            <text>首页</text>
        </a></span>
        @for (int i = 0; i < Model.Breadcrumbs.Count; i++)
        {
            var b = Model.Breadcrumbs[i];
            if (i != Model.Breadcrumbs.Count - 1)
            {<span>/<a href="@((!string.IsNullOrEmpty(b.Url) ? Href(b.Url) : Url.Index()))">@b.Text</a></span>}
            else
            {<text>/</text><h1>@b.Text</h1>}
        }
        @*        SEO SAMPLE <h1 style="display: none;">
            上海出发，欧洲，法德意，****五日游</h1>*@
    </div>
}