<h4 class="t_title">
    超越头等舱的尊贵体验．A380豪华套房</h4>
<p class="d_cont">
    最奢华的航行！全程搭乘世界最佳新加坡航空环游世界。特别安排A380豪华套房感受坐卧云端尊荣享受：意大利名家手工缝制皮革扶手椅，配备23吋液晶电视娱乐系统，独立豪华睡床伴随新航知名铺床服务，每间套房配有活动拉门与窗帘，可依据喜好调整私人空间，同时由享誉全球烹饪品酒团队为您精选美食佳肴...
    <a href="#" class="t_more">更多</a></p>
<p class="d_ad_img">
    <img alt="" src="@Url.Content("~/images/top_tasting/700x280_20120816.jpg")" /></p>
<ul class="t_tpye_list">
    <li>
        <h5>
            十.一 黃金周</h5>
        <p>
            美好长假，就该去旅行！摩纳哥跑车自驾，地中海海梦号游艇，印度湖上皇宫，美西纳帕酒乡，瑞士意大利景观火车，新西兰胡卡庄园梦幻度假...
        </p>
        <p style="text-align: right">
            <a href="#" class="t_more">更多</a></p>
        <img alt="" src="@Url.Content("~/images/top_tasting/pic56_s.jpg")" /></li>
    <li>
        <h5>
            品赏！秋日好枫景</h5>
        <p>
            美加东枫情万种，直升飞机俯瞰尼加拉瀑布掩映红叶奇观，魁北克漫步全球的最佳赏枫城市；日韩红叶名所佐名汤名宿，北海道、京都、轻井泽、东京...
        </p>
        <p style="text-align: right">
            <a href="#" class="t_more">更多</a></p>
        <img alt="" src="@Url.Content("~/images/top_tasting/pic46_s.jpg")" /></li>
    <li style="padding-right: 0;">
        <h5>
            以爱之名‧一生一次</h5>
        <p>
            一次拥有两种高端幸福！与所爱的人，共享珍貴旅程。加拿大浪漫赏枫、迪拜阿布扎比耀眼奢华、巴西热情舞动巴西嘉年华，心动马尔地夫双四季...
        </p>
        <p style="text-align: right">
            <a href="#" class="t_more">更多</a></p>
        <img alt="" src="@Url.Content("~/images/top_tasting/pic29_s.jpg")" /></li>
</ul>
<h4 class="t_hotdeal">
    Hot Deal</h4>
<ul class="t_hotdeal_list">
    <li>
        <img alt="" src="@Url.Content("~/images/top_tasting/pic49_s.jpg")" /><p class="hotdeal_cont">
            美东．纽约、华盛顿、尼亚加拉大瀑布9天</p>
        <p style="text-align: right">
            <a href="#" class="t_more">北京出发</a><a href="#" class="t_more">上海出发</a></p>
    </li>
    <li>
        <img alt="" src="@Url.Content("~/images/top_tasting/pic49_s.jpg")" /><p class="hotdeal_cont">
            非洲．乞力马扎罗山12天</p>
        <p style="text-align: right">
            <a href="#" class="t_more">北京出发</a><a href="#" class="t_more">上海出发</a></p>
    </li>
    <li>
        <img alt="" src="@Url.Content("~/images/top_tasting/pic49_s.jpg")" /><p class="hotdeal_cont">
            美东．纽约、华盛顿、尼亚加拉大瀑布9天</p>
        <p style="text-align: right">
            <a href="#" class="t_more">北京出发</a><a href="#" class="t_more">上海出发</a></p>
    </li>
    <li>
        <img alt="" src="@Url.Content("~/images/top_tasting/pic49_s.jpg")" /><p class="hotdeal_cont">
            美东．纽约、华盛顿、尼亚加拉大瀑布9天</p>
        <p style="text-align: right">
            <a href="#" class="t_more">北京出发</a><a href="#" class="t_more">上海出发</a></p>
    </li>
    <li>
        <img alt="" src="@Url.Content("~/images/top_tasting/pic49_s.jpg")" /><p class="hotdeal_cont">
            非洲．乞力马扎罗山12天</p>
        <p style="text-align: right">
            <a href="#" class="t_more">北京出发</a><a href="#" class="t_more">上海出发</a></p>
    </li>
    <li>
        <img alt="" src="@Url.Content("~/images/top_tasting/pic49_s.jpg")" /><p class="hotdeal_cont">
            美东．纽约、华盛顿、尼亚加拉大瀑布9天</p>
        <p style="text-align: right">
            <a href="#" class="t_more">北京出发</a><a href="#" class="t_more">上海出发</a></p>
    </li>
</ul>
<p class="d_ad_img">
    <img alt="" src="@Url.Content("~/images/top_tasting/b700x133_cn_01.jpg")" /></p>
