@model HHTravel.Site.Models.OrderWizard.Step5Model
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.DynamicScriptsBundle("~/Scripts/Order", "~/Scripts/jquery-1.4.4.min.js", "~/js/common.js", "~/Scripts/jquery.validate.min.js", "~/Scripts/jquery.validate.unobtrusive.min.js")
<script type="text/javascript">
    function openOrderWin() {
        openwin('about:blank');
        document["order_form"].submit();
    }
</script>
<h1 class="r_title r_title_wp_reset">
    <a href="@Url.Product(Model.ProductNo)">@Model.ProductName</a><span class="pro_num">@Model.ProductNo</span></h1>
<div class="pro_selected">
    @using (Html.BeginForm("Step5", "OrderWizard", FormMethod.Post, new { @name = "order_form", @target = "newwindow" }))
    {
        @Html.HiddenFor(m => m.SessionId)
        <!--产品信息-->
        <h6 class="process">
            <span class="ft11">@(Model.BeginSubstepNo++)</span>订购内容</h6>
        <table border="0" cellpadding="0" cellspacing="0" class="tbl">
            <tr>
                <td class="name" style="width: 200px;">
                    商品名称
                </td>
                <td>
                    @Model.ProductName
                </td>
            </tr>
            <tr>
                <td class="name">
                    天数
                </td>
                <td>
                    @Model.Days
                </td>
            </tr>
            <tr>
                <td class="name">
                    预定入住日期
                </td>
                <td>
                    @Model.BeginDate.ToString("yyyy-MM-dd")
                </td>
            </tr>
            <tr>
                <td class="name">
                    预定回程日期
                </td>
                <td>
                    @Model.EndDate.ToString("yyyy-MM-dd")
                </td>
            </tr>
            <tr>
                <td class="name">
                    详细行程
                </td>
                <td>
                    @Html.Raw(Model.ProductFeature)
                </td>
            </tr>
        </table>
        <p class="dotted_line">
        </p>
        if (Model.HotelSegment.HotelSegmentType == HotelSegmentType.酒店)
        {
        <!--定点产品-->
        <h6 class="process_s mt20">
            ·酒店</h6>
        <h6 class="ticket_tit" style="margin-top: 0;">
            入住日期：<b class="ft_blue">@Model.HotelSegment.CheckinDateString</b>～ 退房日期：<b class="ft_blue">@Model.HotelSegment.CheckoutDateString</b>&nbsp;&nbsp;入住@(Model.HotelSegment.Nights)晚</h6>
        <table border="0" cellpadding="0" cellspacing="0" class="tbl_order">
            <tr>
                <td class="name">
                    酒店
                </td>
                <td class="name" style="width: 110px;">
                    房型
                </td>
                <td class="name" style="width: 90px;">
                    早晚餐说明
                </td>
                <td class="name" style="width: 70px;">
                    可住人数
                </td>
                <td class="name" style="width: 80px;">
                    数量
                </td>
            </tr>
            @{ var hotel = Model.HotelSegment.HotelModelList.First(); }
            @for (int roomIndexInHotel = 0; roomIndexInHotel < hotel.RoomClassModelList.Count; roomIndexInHotel++)
            {
                var room = hotel.RoomClassModelList[roomIndexInHotel];
                <tr>
                    @if (roomIndexInHotel == 0)
                    {
                        <td rowspan="@hotel.RoomClassModelList.Count">
                            @hotel.HotelName
                        </td>
                    }
                    <td>
                        @room.RoomClassName
                    </td>
                    <td>
                        @room.BreakfastDinnerTip
                    </td>
                    <td>
                        @room.MaxOccupancy
                    </td>
                    <td>
                        @room.Count 间
                    </td>
                </tr>
            }
        </table>
        }
        else if (Model.HotelSegment.HotelSegmentType == HotelSegmentType.线路)
        {
        <!--线路产品-->
        <h6 class="process_s mt20">
            ·线路</h6>
        <h6 class="ticket_tit" style="margin-top: 0;">
            开始日期：<b class="ft_blue">@Model.HotelSegment.CheckinDateString</b>～ 结束日期：<b class="ft_blue">@Model.HotelSegment.CheckoutDateString</b>&nbsp;&nbsp;行程@(Model.HotelSegment.Nights + 1)天</h6>
        <table border="0" cellpadding="0" cellspacing="0" class="tbl_order">
            <tr>
                <td class="name">
                    名称
                </td>
                <td class="name" style="width: 150px;">
                    描述
                </td>
                <td class="name" style="width: 100px;">
                    房型
                </td>
                <td class="name" style="width: 80px;">
                    人数
                </td>
            </tr>
            @{ var hotel = Model.HotelSegment.HotelModelList.First(); }
            @for (int roomIndexInHotel = 0; roomIndexInHotel < hotel.RoomClassModelList.Count; roomIndexInHotel++)
            {
                var room = hotel.RoomClassModelList[roomIndexInHotel];
                <tr>
                    @if (roomIndexInHotel == 0)
                    {
                        <td rowspan="@hotel.RoomClassModelList.Count">
                            @hotel.HotelName
                        </td>
                        <td rowspan="@hotel.RoomClassModelList.Count">
                            @hotel.Description
                        </td>
                    }
                    <td>
                        @room.RoomClassName
                    </td>
                    <td>
                        @(room.Count)人
                    </td>
                </tr>
            }
        </table>
        }
        if (Model.DelayHotelSegment != null)
        {
        <h6 class="ticket_tit" style="margin-top: 0;">
            延住日期：<b class="ft_blue">@Model.DelayHotelSegment.CheckinDateString</b>～ 退房日期：<b class="ft_blue">@Model.DelayHotelSegment.CheckoutDateString</b>&nbsp;&nbsp;入住@(Model.DelayHotelSegment.Nights)晚</h6>
        <table border="0" cellpadding="0" cellspacing="0" class="tbl_order">
            <tr class="tbl_header">
                <td>
                    酒店
                </td>
                <td style="width: 140px;">
                    房型
                </td>
                <td style="width: 140px;">
                    含早/晚餐
                </td>
                <td style="width: 90px;">
                    可住人数
                </td>
                <td style="width: 80px;">
                    数量
                </td>
            </tr>
            @{ var delayHotel = Model.DelayHotelSegment.HotelModelList.First(); }
            @for (int roomIndexInHotel = 0; roomIndexInHotel < delayHotel.RoomClassModelList.Count; roomIndexInHotel++)
            {
                var room = delayHotel.RoomClassModelList[roomIndexInHotel];
                <tr>
                    @if (roomIndexInHotel == 0)
                    {
                        <td rowspan="@delayHotel.RoomClassModelList.Count">
                            @delayHotel.HotelName
                        </td>
                    }
                    <td>
                        @room.RoomClassName
                    </td>
                    <td>
                        @room.BreakfastDinnerTip
                    </td>
                    <td>
                        @room.MaxOccupancy
                    </td>
                    <td>
                        @room.Count 间
                    </td>
                </tr>
            }
        </table>
        }
        if (Model.GroundService != null)
        {
        <p class="dotted_line">
        </p>
        <!--地面附加产品-->
        <h6 class="process_s mt20">
            ·地面产品</h6>
        <table border="0" cellpadding="0" cellspacing="0" class="tbl_order mt10">
            <tr>
                <td class="name">
                    名称
                </td>
                <td class="name" style="width: 180px;">
                    描述
                </td>
                <td class="name" style="width: 100px;">
                    计价单位
                </td>
                <td class="name" style="width: 100px;">
                    份数
                </td>
            </tr>
            <tr>
                <td class="tbl_date">
                    @Model.GroundService.ServiceName
                </td>
                <td>
                    @Html.Raw(Model.GroundService.Description)
                </td>
                <td>
                    人
                </td>
                <td>
                    @Model.GroundService.PurchaseCount
                </td>
            </tr>
        </table>
        }
        <p class="dotted_line">
        </p>
        if (Model.FlightsSegmentPlans.Any())
        {
        <!--航班选择-->
        <h6 class="process_s mt20">
            ·机票</h6>
        <table border="0" cellpadding="0" cellspacing="0" class="tbl_order mt10">
            <tr class="tr_hide">
                <td style="width: 70px;">
                </td>
                <td>
                </td>
                <td style="width: 70px;">
                </td>
                <td style="width: 70px;">
                </td>
                <td style="width: 120px;">
                </td>
                <td style="width: 120px;">
                </td>
                <td style="width: 90px;">
                </td>
                <td style="width: 90px;">
                </td>
            </tr>
            <tr>
                <td class="name">
                    行程
                </td>
                <td class="name">
                    航空公司
                </td>
                <td class="name">
                    航班
                </td>
                <td class="name">
                    舱等
                </td>
                <td class="name">
                    出发地
                </td>
                <td class="name">
                    到达地
                </td>
                <td class="name">
                    出发时间
                </td>
                <td class="name">
                    到达时间
                </td>
            </tr>
            @for (int i = 0; i < Model.FlightsSegmentPlans.Count; i++)
            {
                var plan = Model.FlightsSegmentPlans[i];
                <tr>
                    <td>
                        第@(i + 1)程
                    </td>
                    <td>
                        @plan.Airline.AirlineCode
                    </td>
                    <td>
                        @plan.FlightNo
                    </td>
                    <td>
                        @plan.FlightSeatName
                    </td>
                    <td>
                        @plan.DepartAirport.AirportName
                    </td>
                    <td>
                        @plan.ArrivalAirport.AirportName
                    </td>
                    <td>
                        @plan.DepartTime
                    </td>
                    <td>
                        @plan.ArrivalTime
                    </td>
                </tr>
            }
        </table>
        <p class="dotted_line">
        </p>
        }
        <!--联系人资料-->
        <h6 class="process_s mt20">
            ·联系人资料</h6>
        <table border="0" cellpadding="0" cellspacing="0" class="tbl mt10">
            <tr>
                <td class="name">
                    中文姓名
                </td>
                <td>
                    @Html.DisplayFor(om => om.BasicInfoModel.FirstName)
                    @Html.DisplayFor(om => om.BasicInfoModel.LastName)
                </td>
            </tr>
            <tr>
                <td class="name">
                    英文姓名
                </td>
                <td>
                    @Html.DisplayFor(om => om.BasicInfoModel.FirstNameEn)
                    @Html.DisplayFor(om => om.BasicInfoModel.LastNameEn)
                </td>
            </tr>
            <tr>
                <td class="name">
                    联络电话
                </td>
                <td>
                    @Html.DisplayFor(om => om.BasicInfoModel.PhoneNumber)
                </td>
            </tr>
            <tr>
                <td class="name">
                    E-mail
                </td>
                <td>
                    @Html.DisplayFor(om => om.BasicInfoModel.Email)
                </td>
            </tr>
            <tr>
                <td class="name">
                    联络方式偏好
                </td>
                <td>
                    @Html.DisplayFor(om => om.BasicInfoModel.ContactFavorite)
                </td>
            </tr>
            <tr>
                <td class="name">
                    方便接听电话时间
                </td>
                <td>
                    @Html.DisplayFor(om => om.BasicInfoModel.ConvinientTime)
                </td>
            </tr>
        </table>
        <p class="dotted_line">
        </p>
        <!--旅客资料-->
        <h6 class="process_s mt20">
            ·旅客资料</h6>
        <table border="0" cellpadding="0" cellspacing="0" class="tbl_order mt10" id="traveler_tbl">
            <tr>
                <td class="name" style="width: 50px;">
                </td>
                <td class="name" style="width: 130px;">
                    中文姓名
                </td>
                <td class="name" style="width: 130px;">
                    英文姓名
                </td>
                <td class="name" style="width: 90px;">
                    证件类型
                </td>
                <td class="name">
                    证件号码
                </td>
            </tr>
            @for (int i = 0; i < Model.PassengerModelList.Count; i++)
            {
                var passenger = Model.PassengerModelList[i];
                <tr>
                    <td>
                        第@(i + 1)位
                    </td>
                    <td>
                        @passenger.Name
                    </td>
                    <td>
                        @passenger.NameEn
                    </td>
                    <td>
                        @(passenger.IdentifierType == 0 ? "身份证" : "护照")
                    </td>
                    <td>
                        @passenger.IdentifierNo
                    </td>
                </tr>
            }
        </table>
        <p class="dotted_line">
        </p>
        <!--请输入验证码-->
        <h6 class="process mt20">
            <span class="ft11">@(Model.BeginSubstepNo++)</span>请输入验证码</h6>
        <table border="0" cellpadding="0" cellspacing="0" class="tbl">
            <tr>
                <td class="name">
                    请输入验证码<em class="red">*</em>
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Captcha, new { @class = "i_txt", @style = "width: 80px;" })
                    &nbsp;&nbsp;<img id="captcha" alt="验证码" src="@Url.Action("Index", "Captcha")" />
                    <a href="javascript:void(0);" onclick="javascript:$('#captcha').attr('src','@Url.Action("Index", "Captcha")?r=' + new Date().getTime());return false;">
                        <img alt="刷新验证码"
                        src="@Url.Content("~/images/reload_cn.gif")" /></a>(不区分大小写)<br />
                    @Html.ValidationMessageFor(m => m.Captcha)
                </td>
            </tr>
        </table>
        <p class="dotted_line">
        </p>
        <!--按钮组-->
        <div class="tbl_send_warp">
            <a href="javascript:void(0)">
                <input type="button" onclick="javascript:history.go(-1);" class="back_btn sep_pre_btn"
                    value="回上一页" /></a>
            <input type="submit" class="tbl_send_btn ml25" value="提交" onclick="javascript:openOrderWin();return false;" />
        </div>
    }
</div>
<!--价格计算-->
<div class="sep_price_warp">
    <div class="sep_price_warp_fixed">
        <h5 class="sep_price_header">
            人数与价格（含税费）</h5>
        <p>
            总价：<span id="total-price" class="tbl_price_orange" data-totalPrice="@Model.TotalPrice">RMB
                @Html.DisplayFor(m => m.TotalPrice)</span><br />
            人均：<span id="average-price" class="tbl_price_orange">RMB @Html.DisplayFor(m => m.AveragePrice)</span><br />
            人数：成人@(Model.AdultCount)人，儿童@(Model.ChildCount)人</p>
    </div>
</div>
