@model HHTravel.Site.Models.OrderWizard.Step4Model
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="r_title r_title_wp_reset">
    <a href="@Url.Product(Model.ProductNo)">@Model.ProductName</a><span class="pro_num">@Model.ProductNo</span></h1>
<div class="pro_selected">
    @using (Html.BeginForm("Step4", "OrderWizard"))
    {
        @Html.HiddenFor(m => m.SessionId)
        <!--联系人信息-->
        <h6 class="process">
            <span>@(Model.BeginSubstepNo++)</span>联系人资料</h6>
        <table border="0" cellpadding="0" cellspacing="0" class="tbl">
            <tr>
                <td class="name">
                    中文姓名<em class="red">*</em>
                </td>
                <td>
                    <span class="tbl_attr">姓</span>
                    @Html.TextBoxFor(om => om.BasicInfoModel.FirstName, new { @class = "tbl_txt", @style = "width: 60px;" })
                    @Html.ValidationMessageFor(om => om.BasicInfoModel.FirstName) <span class="tbl_attr">
                        名</span>
                    @Html.TextBoxFor(om => om.BasicInfoModel.LastName, new { @class = "tbl_txt", @style = "width: 60px;" })
                    @Html.ValidationMessageFor(om => om.BasicInfoModel.LastName)
                </td>
            </tr>
            <tr>
                <td class="name">
                    英文姓名
                </td>
                <td>
                    <span class="tbl_attr">Last Name</span>
                    @Html.TextBoxFor(om => om.BasicInfoModel.FirstNameEn, new { @class = "tbl_txt", @style = "width: 60px;" })
                    @Html.ValidationMessageFor(om => om.BasicInfoModel.FirstNameEn)
                    <span class="tbl_attr">First Name</span>
                    @Html.TextBoxFor(om => om.BasicInfoModel.LastNameEn, new { @class = "tbl_txt", @style = "width: 60px;" })
                    @Html.ValidationMessageFor(om => om.BasicInfoModel.LastNameEn)
                    <span class="font_gray">须与护照相同</span>
                </td>
            </tr>
            <tr>
                <td class="name">
                    联络电话<em class="red">*</em>
                </td>
                <td>
                    @Html.TextBoxFor(om => om.BasicInfoModel.PhoneNumber, new { @class = "tbl_txt" })
                    @Html.ValidationMessageFor(om => om.BasicInfoModel.PhoneNumber)
                </td>
            </tr>
            <tr>
                <td class="name">
                    E-mail<em class="red">*</em>
                </td>
                <td>
                    @Html.TextBoxFor(om => om.BasicInfoModel.Email, new { @class = "tbl_txt" })
                    @Html.ValidationMessageFor(om => om.BasicInfoModel.Email)
                </td>
            </tr>
            <tr>
                <td class="name">
                    联络方式偏好<em class="red">*</em>
                </td>
                <td>
                    @{
        var arrContactFavorite = Enum.GetValues(typeof(ContactFavorite));
        foreach (ContactFavorite cf in arrContactFavorite)
        {@Html.RadioButtonFor(om => om.BasicInfoModel.ContactFavorite, (int)cf, new { @name = "contact" })@cf.GetText()<text>
                        </text>}
                    }
                    @Html.ValidationMessageFor(om => om.BasicInfoModel.ContactFavorite)
                </td>
            </tr>
            <tr>
                <td class="name">
                    方便接听电话时间<em class="red">*</em>
                </td>
                <td>
                    @{
        var arrConvinientTime = Enum.GetValues(typeof(ConvinientTime));
        foreach (ConvinientTime ct in arrConvinientTime)
        {@Html.RadioButtonFor(om => om.BasicInfoModel.ConvinientTime, (int)ct, new { @name = "tel" })@ct.GetText()<text>
                        </text>}
                    }
                    @Html.ValidationMessageFor(om => om.BasicInfoModel.ConvinientTime)
                </td>
            </tr>
        </table>
        <p class="dotted_line">
        </p>
        <!--旅客信息-->
        <h6 class="process mt20" style="position: relative;">
            <span>@(Model.BeginSubstepNo++)</span>旅客信息
            <!--<a href="javascript:void(0)" class="pst_reset add_num" id="addRow">新增一位游客</a>-->
        </h6>
        <table border="0" cellpadding="0" cellspacing="0" class="tbl_order" id="traveler_tbl">
            <tr>
                <td class="name" style="width: 50px;">
                </td>
                <td class="name" style="width: 130px;">
                    中文姓名
                </td>
                <td class="name" style="width: 130px;">
                    英文姓名
                </td>
                <td class="name" style="width: 90px;">
                    证件类型
                </td>
                <td class="name">
                    证件号码
                </td>
                <td class="name" style="width: 50px;">
                </td>
            </tr>
            @for (int i = 0; i < Model.PassengerModelList.Count; i++)
            {
                <tr>
                    <td>
                        第@(i + 1)位
                    </td>
                    <td>
                        <input name="PassengerModelList[@(i)].Name" type="text" class="tbl_txt" style="float: none; width: 100px;" />
                    </td>
                    <td>
                        <input name="PassengerModelList[@(i)].NameEn" type="text" class="tbl_txt" style="float: none; width: 100px;" />
                    </td>
                    <td>
                        <select name="PassengerModelList[@(i)].IdentifierType">
                            <option value="0">身份证</option>
                            <option value="1">护照</option>
                        </select>
                    </td>
                    <td>
                        <input name="PassengerModelList[@(i)].IdentifierNo" type="text" class="tbl_txt" style="float: none; width: 210px;" />
                    </td>
                    <td>
                        <a href="javascript:void(0)" class="add_num">清空</a>
                    </td>
                </tr>
            }
        </table>
        <p class="dotted_line">
        </p>
        <!--特殊行程需求-->
        <h6 class="process mt20">
            <span class="ft11">@(Model.BeginSubstepNo++)</span>特殊行程需求</h6>
        <p>
            <textarea name="SpecialRequirement" class="sep_in_txtr"></textarea></p>
        <p class="dotted_line">
        </p>
        <!--按钮组-->
        <div class="tbl_send_warp">
            <a href="javascript:void(0)">
                <input type="button" onclick="javascript:history.go(-1);" class="back_btn sep_pre_btn"
                    value="回上一页" /></a>
            <a href="javascript:void(0)">
                <input id="btn-submit" type="submit" class="sep_next_btn ml25" value="下一步" /></a>
        </div>
    }
</div>
<!--价格计算-->
<div class="sep_price_warp">
    <div class="sep_price_warp_fixed">
        <h5 class="sep_price_header">
            人数与价格（含税费）</h5>
        <p>
            总价：<span id="total-price" class="tbl_price_orange" data-totalPrice="@Model.TotalPrice">RMB
                @Html.DisplayFor(m => m.TotalPrice)</span><br />
            人均：<span id="average-price" class="tbl_price_orange">RMB @Html.DisplayFor(m => m.AveragePrice)</span><br />
            人数：成人@(Model.AdultCount)人，儿童@(Model.ChildCount)人</p>
    </div>
</div>
