@model HHTravel.CRM.Booking_Online.Site.Models.OrderWizard.Step5Model
@{
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
<table border="0" cellpadding="0" cellspacing="0" width="700" style="border-collapse: collapse;">
    <tr>
        <td>
            <a href="http://www.hhtravel.com">
                <img alt="" src="@Url.AbsoluteContent("~/images/email_h_bg.jpg")" width="700" height="100" style="border: none;" /></a>
        </td>
    </tr>
    <tr>
        <td style="padding: 20px 0 5px 0; font-size: 16px; line-height: 22px; color: #24747b;">
            <b>高端游需求单</b>
        </td>
    </tr>
    <tr>
        <td style="padding-top: 15px; font-size: 13px; line-height: 22px; color: #5a5a5a;">
            <b>订单编号：@ViewBag.OrderNo</b><br />
            感谢您对鸿鹄逸游的支持！您的预订需求已转交专属服务人员处理中，敬请耐心等候。如有任何疑问，欢迎与我们联系。
        </td>
    </tr>
    <tr>
        <td style="padding: 20px 0 10px; border-bottom: 1px solid #ccc; font-size: 13px;
            line-height: 22px; color: #5a5a5a;">
            鸿鹄．上海<br />
            ‧服务电话 400 690 2323<br />
            ‧服务时间 周一至周五 9：00～18：00
        </td>
    </tr>
    <tr>
        <td style="padding: 20px 0 5px 0; font-size: 13px; line-height: 22px; color: #5a5a5a;">
            <b>基本数据</b>
            <table border="0" cellpadding="0" cellspacing="0" width="700" style="border-collapse: collapse;">
                <tr>
                    <td style="width: 180px; padding: 6px 0 6px 20px; border: 1px solid #cccccc; background: #e4e5e7;
                        font-size: 13px; line-height: 22px; color: #5a5a5a;">
                        中文姓名
                    </td>
                    <td style="padding-left: 20px; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                        color: #5a5a5a;">
                        @(Model.BasicInfoModel.FirstName)@(Model.BasicInfoModel.LastName)
                    </td>
                </tr>
                <tr>
                    <td style="width: 180px; padding: 6px 0 6px 20px; border: 1px solid #cccccc; background: #e4e5e7;
                        font-size: 13px; line-height: 22px; color: #5a5a5a;">
                        英文姓名
                    </td>
                    <td style="padding-left: 20px; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                        color: #5a5a5a;">
                        @(Model.BasicInfoModel.FirstNameEn)@(Model.BasicInfoModel.LastNameEn)
                    </td>
                </tr>
                <tr>
                    <td style="width: 180px; padding: 6px 0 6px 20px; border: 1px solid #cccccc; background: #e4e5e7;
                        font-size: 13px; line-height: 22px; color: #5a5a5a;">
                        联络电话
                    </td>
                    <td style="padding-left: 20px; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                        color: #5a5a5a;">@Model.BasicInfoModel.PhoneNumber
                    </td>
                </tr>
                <tr>
                    <td style="width: 180px; padding: 6px 0 6px 20px; border: 1px solid #cccccc; background: #e4e5e7;
                        font-size: 13px; line-height: 22px; color: #5a5a5a;">
                        E-mail
                    </td>
                    <td style="padding-left: 20px; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                        color: #5a5a5a;">@Model.BasicInfoModel.Email
                    </td>
                </tr>
                <tr>
                    <td style="width: 180px; padding: 6px 0 6px 20px; border: 1px solid #cccccc; background: #e4e5e7;
                        font-size: 13px; line-height: 22px; color: #5a5a5a;">
                        参加人数
                    </td>
                    <td style="padding-left: 20px; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                        color: #5a5a5a;">
                        成人：@(Model.AdultCount)人，儿童：@(Model.ChildCount)人
                    </td>
                </tr>
                <tr>
                    <td style="width: 180px; padding: 6px 0 6px 20px; border: 1px solid #cccccc; background: #e4e5e7;
                        font-size: 13px; line-height: 22px; color: #5a5a5a;">
                        随行游客
                    </td>
                    <td style="padding-left: 20px; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                        color: #5a5a5a;">
                        @for (int i = 0; i < Model.PassengerModelList.Count; i++)
                        {
                            var passeger = Model.PassengerModelList[i];
                            <p class="traveler_msg">
                                <b>第@(i + 1)位旅客</b></p>
                            <p class="traveler_msg">
                                <span class="tbl_attr">中文姓名：</span>@passeger.Name</p>
                            <p class="traveler_msg">
                                <span class="tbl_attr">英文姓名：</span>@passeger.NameEn
                            </p>
                            <p class="traveler_msg">
                                <span class="tbl_attr">@(passeger.IdentifierType == 0 ? "身份证" : "护照")：</span>@passeger.IdentifierNo
                            </p>
                        }
                    </td>
                </tr>
                <tr>
                    <td style="width: 180px; padding: 6px 0 6px 20px; border: 1px solid #cccccc; background: #e4e5e7;
                        font-size: 13px; line-height: 22px; color: #5a5a5a;">
                        特殊行程需求
                    </td>
                    <td style="padding-left: 20px; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                        color: #5a5a5a;">@Model.SpecialRequirement
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding: 20px 0 5px 0; font-size: 13px; line-height: 22px; color: #5a5a5a;">
            <b>行程需求</b>
            <table border="0" cellpadding="0" cellspacing="0" width="700" style="border-collapse: collapse;">
                <tr>
                    <td style="width: 180px; padding: 6px 0 6px 20px; border: 1px solid #cccccc; background: #e4e5e7;
                        font-size: 13px; line-height: 22px; color: #5a5a5a;">
                        商品名称
                    </td>
                    <td style="padding-left: 20px; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;">
                        <a href="@Url.Product(Model.ProductNo)"
                            style="color: #24747b; text-decoration: none;">@Model.ProductName</a>
                    </td>
                </tr>
                <tr>
                    <td style="width: 180px; padding: 6px 0 6px 20px; border: 1px solid #cccccc; background: #e4e5e7;
                        font-size: 13px; line-height: 22px; color: #5a5a5a;">
                        天数
                    </td>
                    <td style="padding-left: 20px; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                        color: #5a5a5a;">
                        @(Model.Days)天
                    </td>
                </tr>
                <tr>
                    <td style="width: 180px; padding: 6px 0 6px 20px; border: 1px solid #cccccc; background: #e4e5e7;
                        font-size: 13px; line-height: 22px; color: #5a5a5a;">
                        预定入住日期
                    </td>
                    <td style="padding-left: 20px; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                        color: #5a5a5a;">@Model.BeginDate.ToString("yyyy-MM-dd")
                    </td>
                </tr>
                <tr>
                    <td style="width: 180px; padding: 6px 0 6px 20px; border: 1px solid #cccccc; background: #e4e5e7;
                        font-size: 13px; line-height: 22px; color: #5a5a5a;">
                        预定退房日期
                    </td>
                    <td style="padding-left: 20px; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                        color: #5a5a5a;">@Model.EndDate.ToString("yyyy-MM-dd")
                        &nbsp;
                    </td>
                </tr>
                
                <tr>
                    <td style="width: 180px; padding: 6px 0 6px 20px; border: 1px solid #cccccc; background: #e4e5e7;
                        font-size: 13px; line-height: 22px; color: #5a5a5a;">
                        订购总价
                    </td>
                    <td style="padding-left: 20px; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                        color: #eb6100;">
                        RMB @Html.DisplayFor(m => m.TotalPrice)
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    @if (Model.HotelSegment.HotelSegmentType == HotelSegmentType.线路)
    {
        <tr>
            <td style="padding: 20px 0 5px 0; font-size: 13px; line-height: 22px; color: #5a5a5a;">
                <b>线路产品</b>
                <table border="0" cellpadding="0" cellspacing="0" width="700" style="border-collapse: collapse;">
                    <tr>
                        <td style="padding: 6px 0; border: 1px solid #cccccc; background: #e4e5e7; font-size: 13px;
                            line-height: 22px; color: #5a5a5a; text-align: center;">
                            名称
                        </td>
                        <td style="width: 180px; padding: 6px 0; border: 1px solid #cccccc; background: #e4e5e7;
                            font-size: 13px; line-height: 22px; color: #5a5a5a; text-align: center;">
                            描述
                        </td>
                        <td style="width: 140px; padding: 6px 0; border: 1px solid #cccccc; background: #e4e5e7;
                            font-size: 13px; line-height: 22px; color: #5a5a5a; text-align: center;">
                            房型
                        </td>
                        <td style="width: 90px; padding: 6px 0; border: 1px solid #cccccc; background: #e4e5e7;
                            font-size: 13px; line-height: 22px; color: #5a5a5a; text-align: center;">
                            人数
                        </td>
                    </tr>
                    @{
        var hotel = Model.HotelSegment.HotelModelList.First();
        for (int roomIndexInHotel = 0; roomIndexInHotel < hotel.RoomClassModelList.Count; roomIndexInHotel++)
        {
            var room = hotel.RoomClassModelList[roomIndexInHotel];
                        <tr>
                            @if (roomIndexInHotel == 0)
                            {
                                <td rowspan="@hotel.RoomClassModelList.Count" style="padding: 6px 0; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                                color: #5a5a5a; text-align: left;">
                                    @hotel.HotelName
                                </td>
                            }
                            <td style="padding: 6px 0; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                                color: #5a5a5a; text-align: center;">
                                @room.BreakfastDinnerTip
                            </td>
                            <td style="padding: 6px 0; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                                color: #5a5a5a; text-align: center;">
                                @room.RoomClassName
                            </td>
                            <td style="padding: 6px 0; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                                color: #5a5a5a; text-align: center;">
                                @(room.Count)人
                            </td>
                        </tr>
        }
                    }
                </table>
            </td>
        </tr>
    }
    <tr>
        <td style="padding: 20px 0 5px 0; font-size: 13px; line-height: 22px; color: #5a5a5a;">
            <b>@(Model.HotelSegment.HotelSegmentType == HotelSegmentType.酒店 ? "酒店资讯" : "延长住宿")</b>
            <table border="0" cellpadding="0" cellspacing="0" width="700" style="border-collapse: collapse;">
                <tr>
                    <td style="padding: 6px 0; border: 1px solid #cccccc; background: #e4e5e7; font-size: 13px;
                        line-height: 22px; color: #5a5a5a; text-align: center;">
                        酒店
                    </td>
                    <td style="width: 120px; padding: 6px 0; border: 1px solid #cccccc; background: #e4e5e7;
                        font-size: 13px; line-height: 22px; color: #5a5a5a; text-align: center;">
                        房型
                    </td>
                    <td style="width: 120px; padding: 6px 0; border: 1px solid #cccccc; background: #e4e5e7;
                        font-size: 13px; line-height: 22px; color: #5a5a5a; text-align: center;">
                        早晚餐说明
                    </td>
                    <td style="width: 70px; padding: 6px 0; border: 1px solid #cccccc; background: #e4e5e7;
                        font-size: 13px; line-height: 22px; color: #5a5a5a; text-align: center;">
                        可住人数
                    </td>
                    <td style="width: 70px; padding: 6px 0; border: 1px solid #cccccc; background: #e4e5e7;
                        font-size: 13px; line-height: 22px; color: #5a5a5a; text-align: center;">
                        入住/晚
                    </td>
                    <td style="width: 70px; padding: 6px 0; border: 1px solid #cccccc; background: #e4e5e7;
                        font-size: 13px; line-height: 22px; color: #5a5a5a; text-align: center;">
                        数量
                    </td>
                </tr>
                @if (Model.HotelSegment.HotelSegmentType == HotelSegmentType.酒店)
                {
                    var hotel = Model.HotelSegment.HotelModelList.First();
                    for (int roomIndexInHotel = 0; roomIndexInHotel < hotel.RoomClassModelList.Count; roomIndexInHotel++)
                    {
                        var room = hotel.RoomClassModelList[roomIndexInHotel];
                    <tr>
                        @if (roomIndexInHotel == 0)
                        {
                            <td rowspan="@hotel.RoomClassModelList.Count" style="padding: 6px 0; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                        color: #5a5a5a; text-align: center;">
                                @hotel.HotelName
                            </td>
                        }
                        <td style="padding: 6px 0; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                            color: #5a5a5a; text-align: center;">
                            @room.RoomClassName
                        </td>
                        <td style="padding: 6px 0; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                            color: #5a5a5a; text-align: center;">
                            @room.BreakfastDinnerTip
                        </td>
                        <td style="padding: 6px 0; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                            color: #5a5a5a; text-align: center;">
                            @room.MaxOccupancy
                        </td>
                        <td style="padding: 6px 0; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                            color: #5a5a5a; text-align: center;">
                            @Model.HotelSegment.Nights
                        </td>
                        <td style="padding: 6px 0; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                            color: #5a5a5a; text-align: center;">
                            @room.Count 间
                        </td>
                    </tr>
                    }
                }
                @if (Model.DelayHotelSegment != null)
                {
                    var delayHotel = Model.DelayHotelSegment.HotelModelList.First();
                    for (int roomIndexInHotel = 0; roomIndexInHotel < delayHotel.RoomClassModelList.Count; roomIndexInHotel++)
                    {
                        var room = delayHotel.RoomClassModelList[roomIndexInHotel];
                    <tr>
                        @if (roomIndexInHotel == 0)
                        {
                            <td rowspan="@delayHotel.RoomClassModelList.Count" style="padding: 6px 0; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                        color: #5a5a5a; text-align: center;">
                                @delayHotel.HotelName
                            </td>
                        }
                        <td style="padding: 6px 0; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                            color: #5a5a5a; text-align: center;">
                            @room.RoomClassName
                        </td>
                        <td style="padding: 6px 0; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                            color: #5a5a5a; text-align: center;">
                            @room.BreakfastDinnerTip
                        </td>
                        <td style="padding: 6px 0; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                            color: #5a5a5a; text-align: center;">
                            2
                        </td>
                        <td style="padding: 6px 0; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                            color: #5a5a5a; text-align: center;">
                            @Model.DelayHotelSegment.Nights
                        </td>
                        <td style="padding: 6px 0; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                            color: #5a5a5a; text-align: center;">
                            @room.Count 间
                        </td>
                    </tr>
                    }
                }
            </table>
        </td>
    </tr>
    @if (Model.GroundService != null)
    {
        <tr>
            <td style="padding: 20px 0 5px 0; font-size: 13px; line-height: 22px; color: #5a5a5a;">
                <b>地面产品</b>
                <table border="0" cellpadding="0" cellspacing="0" width="700" style="border-collapse: collapse;">
                    <tr>
                        <td style="padding: 6px 0; border: 1px solid #cccccc; background: #e4e5e7; font-size: 13px;
                            line-height: 22px; color: #5a5a5a; text-align: center;">
                            名称
                        </td>
                        <td style="width: 220px; padding: 6px 0; border: 1px solid #cccccc; background: #e4e5e7;
                            font-size: 13px; line-height: 22px; color: #5a5a5a; text-align: center;">
                            描述
                        </td>
                        <td style="width: 90px; padding: 6px 0; border: 1px solid #cccccc; background: #e4e5e7;
                            font-size: 13px; line-height: 22px; color: #5a5a5a; text-align: center;">
                            计价单位
                        </td>
                        <td style="width: 90px; padding: 6px 0; border: 1px solid #cccccc; background: #e4e5e7;
                            font-size: 13px; line-height: 22px; color: #5a5a5a; text-align: center;">
                            份数
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 6px 0; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                            color: #5a5a5a; text-align: center;">@Model.GroundService.ServiceName
                            &nbsp;
                        </td>
                        <td style="padding: 6px 0; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                            color: #5a5a5a; text-align: center;">@Html.Raw(Model.GroundService.Description)
                            &nbsp;
                        </td>
                        <td style="padding: 6px 0; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                            color: #5a5a5a; text-align: center;">
                            人 &nbsp;
                        </td>
                        <td style="padding: 6px 0; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                            color: #5a5a5a; text-align: center;">@Model.GroundService.PurchaseCount
                            &nbsp;
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    }
    @if (Model.FlightsSegmentPlans != null && Model.FlightsSegmentPlans.Count > 0)
    {
        <tr>
            <td style="padding: 20px 0 5px 0; font-size: 13px; line-height: 22px; color: #5a5a5a;">
                <b>航班资讯</b><span style="color:Red;padding-left:10px;">（航班信息仅供参考，具体航班以届时客服与您确认为准。）</span>
                <table border="0" cellpadding="0" cellspacing="0" width="700" style="border-collapse: collapse;">
                    <tr>
                        <td style="width: 70px; padding: 6px 0; border: 1px solid #cccccc; background: #e4e5e7;
                            font-size: 13px; line-height: 22px; color: #5a5a5a; text-align: center;">
                            行程
                        </td>
                        <td style="padding: 6px 0; border: 1px solid #cccccc; background: #e4e5e7; font-size: 13px;
                            line-height: 22px; color: #5a5a5a; text-align: center;">
                            航空公司
                        </td>
                        <td style="width: 70px; padding: 6px 0; border: 1px solid #cccccc; background: #e4e5e7;
                            font-size: 13px; line-height: 22px; color: #5a5a5a; text-align: center;">
                            航班
                        </td>
                        <td style="width: 70px; padding: 6px 0; border: 1px solid #cccccc; background: #e4e5e7;
                            font-size: 13px; line-height: 22px; color: #5a5a5a; text-align: center;">
                            舱等
                        </td>
                        <td style="width: 85px; padding: 6px 0; border: 1px solid #cccccc; background: #e4e5e7;
                            font-size: 13px; line-height: 22px; color: #5a5a5a; text-align: center;">
                            出发地
                        </td>
                        <td style="width: 85px; padding: 6px 0; border: 1px solid #cccccc; background: #e4e5e7;
                            font-size: 13px; line-height: 22px; color: #5a5a5a; text-align: center;">
                            到达地
                        </td>
                        <td style="width: 70px; padding: 6px 0; border: 1px solid #cccccc; background: #e4e5e7;
                            font-size: 13px; line-height: 22px; color: #5a5a5a; text-align: center;">
                            出发时间
                        </td>
                        <td style="width: 70px; padding: 6px 0; border: 1px solid #cccccc; background: #e4e5e7;
                            font-size: 13px; line-height: 22px; color: #5a5a5a; text-align: center;">
                            到达时间
                        </td>
                    </tr>
                    @for (int i = 0; i < Model.FlightsSegmentPlans.Count; i++)
                    {
                        var plan = Model.FlightsSegmentPlans[i];
                        <tr>
                            <td style="padding: 6px 0; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                                color: #5a5a5a; text-align: center;">
                                第@(i + 1)程
                            </td>
                            <td style="padding: 6px 0; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                                color: #5a5a5a; text-align: center;">
                                @plan.Airline.AirlineCode
                            </td>
                            <td style="padding: 6px 0; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                                color: #5a5a5a; text-align: center;">
                                @plan.FlightNo
                            </td>
                            <td style="padding: 6px 0; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                                color: #5a5a5a; text-align: center;">
                                @plan.FlightSeatName
                            </td>
                            <td style="padding: 6px 0; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                                color: #5a5a5a; text-align: center;">
                                @plan.DepartAirport.AirportName
                            </td>
                            <td style="padding: 6px 0; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                                color: #5a5a5a; text-align: center;">
                                @plan.ArrivalAirport.AirportName
                            </td>
                            <td style="padding: 6px 0; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                                color: #5a5a5a; text-align: center;">
                                @plan.DepartTime
                            </td>
                            <td style="padding: 6px 0; border: 1px solid #cccccc; font-size: 13px; line-height: 22px;
                                color: #5a5a5a; text-align: center;">
                                @plan.ArrivalTime
                            </td>
                        </tr>
                    }
                </table>
            </td>
        </tr>
    }
    @if (!Model.UsedByEmail)
    {
        <tr>
            <td>
                <p class="tbl_send_warp">
                    @*http://blogs.x2line.com/al/articles/350.aspx*@ <a id="lnkClose" class="close_link_green" href="javascript:window.opener='x';window.close();">
                        关闭本窗口</a></p>
            </td>
        </tr>
    }
    <tr>
        <td style="padding-top: 20px;">
            <img alt="" src="@Url.AbsoluteContent("~/images/email_f_bg.jpg")" width="700" height="53" />
        </td>
    </tr>
</table>
