@model HHTravel.Site.Models.OrderWizard.Step3Model
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/knockout-2.2.1.js")" type="text/javascript"></script>
<script type="text/javascript">
    function ViewModel() {
        var self = this;

        self.flightsPlans1 = ko.observableArray();
        self.flightsPlansLoading1 = ko.observable(true);
        self.selectedRouteId1 = ko.observable();
        self.clearRouteId1 = function () {
            self.selectedRouteId1(null);

        };
        self.hideOtherPlans1 = ko.computed(function (routeId) {
            if (!self.selectedRouteId1) return false;
            return (routeId != self.selectedRouteId1);
        });

        self.flightsPlans2 = ko.observableArray();
        self.flightsPlansLoading2 = ko.observable();
        self.selectedRouteId2 = ko.observable();
        self.clearRouteId2 = function () {
            self.selectedRouteId2(null);
        };
        self.hideOtherPlans2 = ko.computed(function (routeId) {
            if (!self.selectedRouteId2) return false;
            return (routeId != self.selectedRouteId2);
        });

        self.validate = function (formElement) {
            var pass = new Boolean(self.selectedRouteId1() && self.selectedRouteId2());
            pass = (pass == true);
            $('#error-tips').text(pass ? '' : '请选择航班');
            return pass;
        };
        self.calcPrice = function ($radio) {
            var totalPrice = parseInt($('#total-price').attr('data-totalPrice'));
            var flightsPrice = 0;
            // 计算价格（包括税费和燃油附加费）
            if ($radio) {
                flightsPrice = parseInt($radio.attr('data-totalPrice')) + parseInt($radio.attr('data-totalTax')) + parseInt($radio.attr('data-totalFuelSurcharges'));
            }
            totalPrice += flightsPrice;
            $('#TotalPrice').val(totalPrice);   // post到下一步
            $('#total-price').text('RMB ' + formatToCurrency(totalPrice));    // todo: 千分位
            var personCount = '@(Model.AdultCount + Model.ChildCount)';
            var averagePrice = Math.round(totalPrice / personCount); // 四舍五入
            $('#AveragePrice').val(averagePrice);   // post到下一步
            $('#average-price').text('RMB ' + formatToCurrency(averagePrice));
        };

        self.selectedRouteId1.subscribe(function (newValue) {
            self.flightsPlans2(null);
            self.clearRouteId2();

            if (!newValue) {
                self.calcPrice(null);   // 恢复价格
                self.flightsPlansLoading2(false);
                return;
            };
            self.flightsPlansLoading2(true);

            // 搜索返程航班
            var $radio = $('input[value="' + newValue + '"]');
            $radio.parents('tr').siblings().hide();
            $radio.parents('table').find('input[type="hidden"]').attr('disabled', true);
            var $prevHidden = $radio.prev('input');
            $radio.next('input').attr('disabled', false);
            $prevHidden.attr('disabled', false);
            var flightsSegmentPlanJson = $prevHidden.val();

            var sessionId = $('#SessionId').val();

            $.post('@Url.Action("GetFlightsPlans", "OrderWizard")', {
                sessionId: sessionId,
                segmentNo: 2,
                routeId: newValue,
                flightsSegmentPlanJson: flightsSegmentPlanJson
            }, function (data) {
                self.flightsPlansLoading2(false);
                self.flightsPlans2(data);
            }, "json");
        });

        self.selectedRouteId2.subscribe(function (newValue) {
            if (!newValue) {
                self.calcPrice(null);   // 恢复价格
                return;
            };
            var $radio = $('input[value="' + newValue + '"]');
            $radio.parents('table').find('input[type="hidden"]').attr('disabled', true);
            var $prevHidden = $radio.prev('input');
            $radio.next('input').attr('disabled', false);
            $prevHidden.attr('disabled', false);
            self.calcPrice($radio);
        });
    }

    $(document).ready(function () {
        var viewModel = new ViewModel();
        ko.applyBindings(viewModel);

        var sessionId = $('#SessionId').val();

        $.post('@Url.Action("GetFlightsPlans", "OrderWizard")', {
            sessionId: sessionId,
            segmentNo: 1
        }, function (data) {
            viewModel.flightsPlansLoading1(false);
            viewModel.flightsPlans1(data);
        }, "json");

    });
</script>
<h1 class="r_title r_title_wp_reset">
    <a href="@Url.Product(Model.ProductNo)">@Model.ProductName</a><span class="pro_num">@Model.ProductNo</span></h1>
<div class="pro_selected">
    @using (Html.BeginForm("Step3", "OrderWizard", FormMethod.Post, new { data_bind = "submit: validate" }))
    {
        @Html.HiddenFor(m => m.SessionId)
        @Html.HiddenFor(m => m.TotalPrice)
        @Html.HiddenFor(m => m.AveragePrice)
        <!--航班选择-->
        <h6 class="process" style="padding-bottom: 0;">
            <span>@(Model.BeginSubstepNo++)</span>选择机票</h6>

        for (int segmentIndex = 0; segmentIndex < Model.FlightsSegments.Count; segmentIndex++)
        {
            var seg = Model.FlightsSegments[segmentIndex];
@*        <div data-bind="visible: shouldShowLoading" style="float: left; background-image: url(http://www.mkyong.com/wp-content/plugins/digg-digg-light/images/loading.gif);
            background-repeat: no-repeat; background-position: center; width: 100%; height: 52px;">
        </div>*@
        <h6 class="ticket_tit">
            ·第@(seg.SegmentNo)程推荐&nbsp;&nbsp;&nbsp;&nbsp;出发城市：<b class="ft_blue">@seg.DepartCity.CityName</b>
            ～ 到达城市：<b class="ft_blue">@seg.ArrivalCity.CityName</b>&nbsp;&nbsp;&nbsp;&nbsp;起飞日期：<b
                class="ft_blue">@seg.DepartDate.ToString("yyyy-MM-dd")</b>
        </h6>
        <table border="0" cellpadding="0" cellspacing="0" class="tbl_order">
            <tr class="tr_hide">
                <td style="width: 80px;">
                </td>
                <td style="width: 45px;">
                </td>
                <td style="width: 55px;">
                </td>
                <td style="width: 95px;">
                </td>
                <td style="width: 95px;">
                </td>
                <td style="width: 65px;">
                </td>
                <td style="width: 65px;">
                </td>
                <td style="width: 65px;">
                </td>
                <td>
                </td>
                <td style="width: 45px;">
                </td>
            </tr>
            <tr>
                <td class="name">
                    航空公司
                </td>
                <td class="name">
                    航班
                </td>
                <td class="name">
                    舱等
                </td>
                <td class="name">
                    出发地
                </td>
                <td class="name">
                    到达地
                </td>
                <td class="name">
                    出发时间
                </td>
                <td class="name">
                    到达时间
                </td>
                <td class="name">
                    说明
                </td>
                <td class="name">
                    总价
                </td>
                <td class="name">
                    选择
                </td>
            </tr>
            <tbody data-bind="visible: flightsPlansLoading@(seg.SegmentNo)">
                <tr>
                    <td colspan="10">
                        <p class="loading_s_warp">
                            <img alt="机票加载中" src="@Url.Content("~/images/loading_s.gif")" /><span>请稍候，正在为您查询</span>
                        </p>
                    </td>
                </tr>
            </tbody>
            <tbody data-bind="foreach: flightsPlans@(seg.SegmentNo)">
                <tr data-bind="visible: !$root.selectedRouteId@(seg.SegmentNo)() || $root.selectedRouteId@(seg.SegmentNo)() == $data.RouteId">
                    <td data-bind="text: Airline.AirlineCode">
                    </td>
                    <td data-bind="text: FlightNo">
                    </td>
                    <td data-bind="text: FlightSeatName">
                    </td>
                    <td data-bind="with: DepartAirport">
                        <span data-bind="text: AirportName"></span>
                    </td>
                    <td data-bind="with: ArrivalAirport">
                        <span data-bind="text: AirportName"></span>
                    </td>
                    <td data-bind="text: DepartTime">
                    </td>
                    <td data-bind="text: ArrivalTime">
                    </td>
                    <td>
                        <div class="flight_desc_layer">
                            <div class="tbl_tips_desc" data-bind="visible: $data.Flights.length > 0 && $data.Flights[0].Stopovers.length > 0 , event: { mouseover:  function(){ $($element).next('.spw_type_layer').show();$($element).parent().css('z-index','1');}, mouseout: function(){ $($element).next('.spw_type_layer').hide();$($element).parent().css('z-index','0');} }">
                                经停</div>
                            <!--详细说明-->
                            <div class="spw_type_layer tbl_type_layer">
                                <p>
                                    经停<br />
                                    <div data-bind="foreach: $data.Flights">
                                        <div data-bind="foreach: $data.Stopovers">
                                            <span data-bind="text: Airport"></span>
                                            <br />
                                            经停时长：<span data-bind="text: Duration"></span>
                                        </div>
                                    </div>
                                </p>
                                <div class="spw_type_tip">
                                    <em>&#9670</em><span>&#9670</span>
                                </div>
                            </div>
                            <div class="tbl_tips_desc" data-bind="visible: $data.Flights.length > 1, event: { mouseover:  function(){ $($element).next('.spw_type_layer').show();$($element).parent().css('z-index','1');}, mouseout: function(){ $($element).next('.spw_type_layer').hide();$($element).parent().css('z-index','0');} }">
                                中转</div>
                            <!--详细说明-->
                            <div data-bind="foreach: $data.Flights" class="spw_type_layer tbl_type_layer">
                                <span data-bind="text: FlightNo"></span><span data-bind="text: DepartCity.CityName">
                                </span>- <span data-bind="text: ArrivalCity.CityName"></span>
                                <br />
                                <div class="spw_type_tip">
                                    <em>&#9670</em><span>&#9670</span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="tbl_price">
                        RMB <span data-bind="text: formatToCurrency(TotalPrice + TotalTax + TotalFuelSurcharges)"></span>
                    </td>
                    <td>
                        <input type="hidden" name="FlightsSegmentPlanJsons[@segmentIndex]" data-bind="value: FlightsSegmentPlanJson" disabled="disabled" />
                        <input type="radio" data-bind="checked: $root.selectedRouteId@(seg.SegmentNo), attr: { value: RouteId, 'data-totalPrice': TotalPrice, 'data-totalTax': TotalTax, 'data-totalFuelSurcharges': TotalFuelSurcharges }" />
                        <input type="hidden" name="FlightNos[@segmentIndex]" data-bind="value: FlightNo" disabled="disabled" />
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="sep_new_select" data-bind="visible: selectedRouteId@(seg.SegmentNo)">
            <a href="javascript:void(0);" data-bind="click: clearRouteId@(seg.SegmentNo)">重新选择第@(segmentIndex + 1)程航班</a></p>
        }
        <p style="color: Red; clear: both; text-align: right; line-height: 30px; padding-right: 5px;">@Html.ValidationMessage("FlightNos", new { @id = "error-tips" })</p>
        <p class="dotted_line">
        </p>
        <!--按钮组-->
        <div class="tbl_send_warp">
            <a href="javascript:void(0)">
                <input type="button" onclick="javascript:history.go(-1);" class="back_btn sep_pre_btn"
                    value="回上一页" /></a>
            <a href="javascript:void(0)">
                <input id="btn-submit" type="submit" class="sep_next_btn ml25" value="下一步" /></a>
        </div>
    }
</div>
<!--价格计算-->
<div class="sep_price_warp">
    <div class="sep_price_warp_fixed">
        <h5 class="sep_price_header">
            人数与价格（含税费）</h5>
        <p>
            总价：<span id="total-price" class="tbl_price_orange" data-totalPrice="@Model.TotalPrice">RMB
                @Html.DisplayFor(m => m.TotalPrice)</span><br />
            人均：<span id="average-price" class="tbl_price_orange">RMB @Html.DisplayFor(m => m.AveragePrice)</span><br />
            人数：成人@(Model.AdultCount)人，儿童@(Model.ChildCount)人</p>
    </div>
</div>
