@model HHTravel.CRM.Booking_Online.Site.Models.OrderModel
@{
    ViewBag.Title = "我要订购";
    Layout = "~/Views/Shared/_LayoutPopup.cshtml";
}
@section JS{
    <script src="@Href("~/js/datepicker/WdatePicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $("input[data-val-length-max]").each(function () {
                var $this = $(this);
                var data = $this.data();
                $this.attr("maxlength", data["val-length-max"]);
            });
        });
    </script>
}
<div class="header_warp" style="width: auto;">
    <div class="order_warp" style="padding: 0 10px;">
        <div class="header" style="width: 700px;">
            <h2 class="h_logo">
                <a href="@Url.IndexCn()">
                    <img alt="鸿鹄逸游" src="@Url.Content("~/images/logo_cn.jpg")" />鸿鹄逸游</a></h2>
            <em></em>
        </div>
        @using (Html.BeginForm("Submit", "Order"))
        {
            <h3 class="order_pro_name">
                @Html.DisplayFor(om => om.ProductName)</h3>
            <p class="order_detail">
                鸿鹄逸游坚持以高标准的服务规格，实现高端旅游者的梦想。<br />
                如您欲预订高端旅游行程，欢迎拨打鸿鹄逸游服务专线：400 690 2323 进行咨询，或填写下方高端游需求单提交，我们将尽快与您联系，并竭诚为您服务。
            </p>
            <h6 class="process">
                <span>3</span>高端游需求单</h6>
            <table border="0" cellpadding="0" cellspacing="0" class="tbl">
                <tr>
                    <td class="name" style="width: 200px;">
                        商品名称
                    </td>
                    <td>
                        @Html.DisplayFor(om => om.ProductName)
                        @Html.HiddenFor(om => om.ProductName)
                        @Html.HiddenFor(om => om.ProductId)
                    </td>
                </tr>
                <tr>
                    <td class="name">
                        天数
                    </td>
                    <td>
                        @Html.DisplayFor(om => om.Days) 天
                        @Html.HiddenFor(om => om.Days)
                    </td>
                </tr>
                <tr>
                    <td class="name">
                        预定出发日期
                    </td>
                    <td>
                        @Html.DisplayFor(om => om.DepartureDate)
                        @Html.HiddenFor(om => om.DepartureDate)
                        @Html.HiddenFor(om => om.ReturnDate)
                    </td>
                </tr>
            </table>
            <p class="dotted_line">
            </p>
            <h6 class="tbl_caption">
                延长行程</h6>
            <p class="order_detail">
                鸿鹄逸游坚持以高标准的服务规格，实现高端旅游者的梦想。<br />
                如您有延长行程的需求，欢迎拨打鸿鹄逸游服务专线：400 690 2323 进行咨询，或填写延长需求提交，我们将尽快与您联系，并竭诚为您服务。
            </p>
            <table border="0" cellpadding="0" cellspacing="0" class="tbl">
                <tr>
                    <td class="name" style="width: 200px;">
                        商品名称
                    </td>
                    <td>
                        @Html.DisplayFor(om => om.ProductName)
                    </td>
                </tr>
                <tr>
                    <td class="name">
                        预定回程日期
                    </td>
                    <td>
                        @*延住退房日期需要大于预定的退房日期*@
                        @Html.TextBoxFor(om => om.StayReturnDate, new { @class = "tbl_txt", @onclick = string.Format("WdatePicker({{ minDate: '{0}' }});", Model.ReturnDate.AddDays(1).ToString("yyyy-MM-dd")) })
                        @Html.ValidationMessageFor(om => om.StayReturnDate)
                    </td>
                </tr>
                <tr>
                    <td class="name">
                        是否需安排续住
                    </td>
                    <td>
                        @Html.RadioButtonFor(om => om.IsStay, true, new { @name = "live" })是
                        @Html.RadioButtonFor(om => om.IsStay, false, new { @name = "live" })否
                        @Html.ValidationMessageFor(om => om.IsStay)
                    </td>
                </tr>
                <tr>
                    <td class="name">
                        仅参加当地行程，机票自理
                    </td>
                    <td>
                        @Html.RadioButtonFor(om => om.AirTicketOneself, true, new { @name = "stroke" })是
                        @Html.RadioButtonFor(om => om.AirTicketOneself, false, new { @name = "stroke" })否
                        @Html.ValidationMessageFor(om => om.AirTicketOneself)
                    </td>
                </tr>
                <tr>
                    <td class="name">
                        其他
                    </td>
                    <td>
                        @Html.TextAreaFor(om => om.StayNote, new { @cols = "52", @rows = "3" })
                        @Html.ValidationMessageFor(om => om.StayNote)
                    </td>
                </tr>
            </table>
            <p class="dotted_line">
            </p>
            <h6 class="tbl_caption">
                基本资料</h6>
            <table border="0" cellpadding="0" cellspacing="0" class="tbl">
                <tr>
                    <td class="name">
                        中文姓名<em class="red">*</em>
                    </td>
                    <td>
                        <span class="tbl_attr">姓</span>
                        @Html.TextBoxFor(om => om.Suranme, new { @class = "tbl_txt", @style = "width: 60px;" })
                        @Html.ValidationMessageFor(om => om.Suranme) <span class="tbl_attr">名</span>
                        @Html.TextBoxFor(om => om.FirstName, new { @class = "tbl_txt", @style = "width: 60px;" })
                        @Html.ValidationMessageFor(om => om.FirstName)
                    </td>
                </tr>
                <tr>
                    <td class="name">
                        英文姓名
                    </td>
                    <td>
                        <span class="tbl_attr">Last Name</span>
                        @Html.TextBoxFor(om => om.FirstNameEn, new { @class = "tbl_txt", @style = "width: 60px;" })
                        @Html.ValidationMessageFor(om => om.FirstNameEn)
                        <span class="tbl_attr">First Name</span>
                        @Html.TextBoxFor(om => om.SurnameEn, new { @class = "tbl_txt", @style = "width: 60px;" })
                        @Html.ValidationMessageFor(om => om.SurnameEn)
                        <span class="font_gray">须与护照相同</span>
                    </td>
                </tr>
                <tr>
                    <td class="name">
                        联络电话<em class="red">*</em>
                    </td>
                    <td>
                        @Html.TextBoxFor(om => om.PhoneNumber, new { @class = "tbl_txt" })
                        @Html.ValidationMessageFor(om => om.PhoneNumber)
                    </td>
                </tr>
                <tr>
                    <td class="name">
                        E-mail<em class="red">*</em>
                    </td>
                    <td>
                        @Html.TextBoxFor(om => om.Email, new { @class = "tbl_txt" })
                        @Html.ValidationMessageFor(om => om.Email)
                    </td>
                </tr>
                <tr>
                    <td class="name">
                        参加人数<em class="red">*</em>
                    </td>
                    <td>
                        成人：
                        @Html.TextBoxFor(om => om.AdultNum, new { @class = "tbl_txt", @style = "width: 50px; float: none;" })人
                        @Html.ValidationMessageFor(om => om.AdultNum)，孩童：
                        @Html.TextBoxFor(om => om.ChildNum, new { @class = "tbl_txt", @style = "width: 50px; float: none;" })人
                        @Html.ValidationMessageFor(om => om.ChildNum)
                    </td>
                </tr>
                <tr>
                    <td class="name">
                        联络方式偏好<em class="red">*</em>
                    </td>
                    <td>
                        @Html.RadioButtonFor(om => om.ContactFavorite, 0, new { @name = "contact" })电话或手机
                        @Html.RadioButtonFor(om => om.ContactFavorite, 1, new { @name = "contact" })E-mail
                        @Html.ValidationMessageFor(om => om.ContactFavorite)
                    </td>
                </tr>
                <tr>
                    <td class="name">
                        方便接听电话时间<em class="red">*</em>
                    </td>
                    <td>
                        @Html.RadioButtonFor(om => om.ConvinientTime, 0, new { @name = "tel" })09:00-12:00
                        @Html.RadioButtonFor(om => om.ConvinientTime, 1, new { @name = "tel" })12:00-14:00
                        @Html.RadioButtonFor(om => om.ConvinientTime, 2, new { @name = "tel" })14:00-18:00<br />
                        @Html.RadioButtonFor(om => om.ConvinientTime, -1, new { @name = "tel" })以上时间皆可
                        @Html.ValidationMessageFor(om => om.ConvinientTime)
                    </td>
                </tr>
                <tr>
                    <td class="name">
                        请输入验证码<em class="red">*</em>
                    </td>
                    <td>
                        @Html.TextBoxFor(om => om.Captcha, new { @class = "i_txt", @style = "width: 80px;" })
                        &nbsp;&nbsp;<img id="captcha" alt="验证码" src="@Url.Action("Index", "Captcha")" />
                        <a onclick="javascript:$('#captcha').attr('src','@Url.Action("Index", "Captcha")?r=' + new Date().getTime());">
                            <img alt="刷新验证码"
                        src="@Url.Content("~/images/reload_cn.gif")" height="30" /></a><br />
                        @Html.ValidationMessageFor(om => om.Captcha)
                    </td>
                </tr>
            </table>
            <p class="tbl_send_warp">
                <input type="submit" class="tbl_send_btn" value="提交" /></p>
        }
        <div class="send_order_footer">
            <em class="s_o_l"></em><em class="s_o_c"></em><em class="s_o_r"></em>
            <h2 class="s_o_slogan">
                实现顶级旅游者的梦想</h2>
        </div>
    </div>
</div>
