@model HHTravel.CRM.Booking_Online.Site.Models.LefuMenuModel
<script type="text/javascript">
    $(function () {
        $('.l_list li:has(a)').css('margin-left', -8);
    });
</script>
<div class="left_warp">
    <h3 class="l_title">
        <a href="@Url.Action("Destination", "Home")">目的地 Travel Destination</a></h3>
    <div class="l_destination">
        @foreach (var g in Model.DestinationGroups)
        {
            <h5>
                <a href="@(Url.Action("FindBy", "Product", new { propertyType = 1, propertyValue = g.GroupId }))">@g.Name</a></h5>
            <p>
                @foreach (var r in g.RegionList)
                {
                    <a href="@(Url.Action("FindBy", "Product", new { propertyType = 1, propertyValue = g.GroupId, childValue = r.RegionId }))">@r.Name</a>
                }</p>
        }
    </div>
    <h3 class="l_title">
        <a href="@Url.Action("Interest", "Home")">旅行主题 Travel Interest</a></h3>
    <ul class="l_list">
        @foreach (var i in Model.Interests)
        {
            <li><a href="@Url.Action("FindBy", "Product", new { propertyType = 2, propertyValue = i.InterestId })">@i.Name</a></li>
        }
    </ul>
    <h3 class="l_title">
        <a href="@Url.Action("DepartMonth", "Home")">出发月份 Departure Month</a></h3>
    <ul class="l_list">
        @{
            var dms = Model.DepartureMonths;
            var groups = dms.GroupBy(m => m.Year);
        }
        @foreach (var group in groups)
        {
            int year = group.Key;
            <li>@year</li>
            foreach (var m in group)
            {
                int month = m.Month;
            <li><a href="@Url.Action("FindBy", "Product", new { propertyType = 3, propertyValue = year, childValue = month })">@m.Name</a></li>
            }
        }
    </ul>
</div>