@model HHTravel.Site.Models.CustomizeOrderModel
@{
    Layout = null;
}
@Html.DynamicScriptsBundle("~/Scripts/Order", "~/Scripts/jquery-1.4.4.min.js", "~/js/common.js", "~/Scripts/jquery.validate.min.js", "~/Scripts/jquery.validate.unobtrusive.min.js")
<script src="@Url.Content("~/js/datepicker/WdatePicker.js")" type="text/javascript"></script>
<script type="text/javascript">
    function openOrderWin() {
        openwin('about:blank');
        document["order_form"].submit();
    }
    $(function () {
        $("input[data-val-length-max]").each(function () {
            var $this = $(this);
            var data = $this.data();
            $this.attr("maxlength", data["val-length-max"]);
        });

    });
</script>
<!--量身定制-->
<div class="highlights" style="display: block;">
    @using (Html.BeginForm("Customize", "Order", FormMethod.Post, new { @name = "order_form", @target = "newwindow" }))
    {
        @Html.HiddenFor(m => m.ProductNo)
        @Html.HiddenFor(m => m.ProductName)
        <h5>
            量身定制</h5>
        <div class="h_content">
            鸿鹄逸游坚持以高标准的服务规格，实现高端旅游者的梦想。<br />
            如您有延长行程的需求，欢迎拨打鸿鹄逸游服务专线：400 690 2323 进行咨询，或填写延长需求提交，我们将尽快与您联系，并竭诚为您服务。
        </div>
        <h6 class="tbl_caption">
            基础数据</h6>
        <table border="0" cellpadding="0" cellspacing="0" class="tbl">
            <tr>
                <td class="name">
                    中文姓名<em class="red">*</em>
                </td>
                <td>
                    <span class="tbl_attr">姓</span>
                    @Html.TextBoxFor(om => om.FirstName, new { @class = "tbl_txt", @style = "width: 60px;" })
                    @Html.ValidationMessageFor(om => om.FirstName) <span class="tbl_attr">名</span>
                    @Html.TextBoxFor(om => om.LastName, new { @class = "tbl_txt", @style = "width: 60px;" })
                    @Html.ValidationMessageFor(om => om.LastName)
                </td>
            </tr>
            <tr>
                <td class="name">
                    英文姓名
                </td>
                <td>
                    <span class="tbl_attr">Last Name</span>
                    @Html.TextBoxFor(om => om.FirstNameEn, new { @class = "tbl_txt", @style = "width: 60px;" })
                    @Html.ValidationMessageFor(om => om.FirstNameEn)
                    <span class="tbl_attr">First Name</span>
                    @Html.TextBoxFor(om => om.LastNameEn, new { @class = "tbl_txt", @style = "width: 60px;" })
                    @Html.ValidationMessageFor(om => om.LastNameEn)
                    <span class="font_gray">须与护照相同</span>
                </td>
            </tr>
            <tr>
                <td class="name">
                    联络电话<em class="red">*</em>
                </td>
                <td>
                    @Html.TextBoxFor(om => om.PhoneNumber, new { @class = "tbl_txt" })
                    @Html.ValidationMessageFor(om => om.PhoneNumber)
                </td>
            </tr>
            <tr>
                <td class="name">
                    E-mail<em class="red">*</em>
                </td>
                <td>
                    @Html.TextBoxFor(om => om.Email, new { @class = "tbl_txt" })
                    @Html.ValidationMessageFor(om => om.Email)
                </td>
            </tr>
            <tr>
                <td class="name">
                    联络方式偏好<em class="red">*</em>
                </td>
                <td>
                    @{
        var arrContactFavorite = Enum.GetValues(typeof(ContactFavorite));
        foreach (ContactFavorite cf in arrContactFavorite)
        {@Html.RadioButtonFor(om => om.ContactFavorite, (int)cf, new { @name = "contact" })@cf.GetText()<text>
                        </text>}
                    }
                    @Html.ValidationMessageFor(om => om.ContactFavorite)
                </td>
            </tr>
            <tr>
                <td class="name">
                    方便接听电话时间<em class="red">*</em>
                </td>
                <td>
                    @{
        var arrConvinientTime = Enum.GetValues(typeof(ConvinientTime));
        foreach (ConvinientTime ct in arrConvinientTime)
        {@Html.RadioButtonFor(om => om.ConvinientTime, (int)ct, new { @name = "tel" })@ct.GetText()<text>
                        </text>}
                    }
                    @Html.ValidationMessageFor(om => om.ConvinientTime)
                </td>
            </tr>
        </table>
        <p class="dotted_line">
        </p>
        <h6 class="tbl_caption">
            量身定制</h6>
        <table border="0" cellpadding="0" cellspacing="0" class="tbl">
            <tr>
                <td class="name">
                    商品名称
                </td>
                <td>
                    @Html.DisplayFor(om => om.ProductName)
                    @Html.HiddenFor(om => om.ProductName)
                </td>
            </tr>
            <tr>
                <td class="name">
                    希望的出发日期<em class="red">*</em>
                </td>
                <td>
                    @Html.TextBoxFor(om => om.DepartureDate, new { @class = "tbl_txt", @onclick = string.Format("WdatePicker({{ minDate: '{0}'}});", DateTime.Now.Date.AddDays(1).ToString("yyyy-MM-dd")) })
                    @Html.ValidationMessageFor(om => om.DepartureDate)
                </td>
            </tr>
            <tr>
                <td class="name">
                    旅行天数<em class="red">*</em>
                </td>
                <td>
                    @Html.TextBoxFor(om => om.Days, new { @class = "tbl_txt", @style = "width: 60px;" })天
                    @Html.ValidationMessageFor(om => om.Days)
                </td>
            </tr>
            <tr>
                <td class="name">
                    参加人数<em class="red">*</em>
                </td>
                <td>
                    成人：
                    @Html.TextBoxFor(om => om.AdultNum, new { @class = "tbl_txt", @style = "width: 50px; float: none;" })人
                    @Html.ValidationMessageFor(om => om.AdultNum)，孩童：
                    @Html.TextBoxFor(om => om.ChildNum, new { @class = "tbl_txt", @style = "width: 50px; float: none;" })人
                    @Html.ValidationMessageFor(om => om.ChildNum)
                </td>
            </tr>
            <tr>
                <td class="name">
                    这趟旅行有特殊纪念意义或庆祝特别的日子吗？
                </td>
                <td>
                    @Html.TextAreaFor(om => om.SpecialMemento, new { @cols = "55", @rows = "3" })
                    @Html.ValidationMessageFor(om => om.SpecialMemento)
                </td>
            </tr>
            <tr>
                <td class="name">
                    请描述想包含/想避免在行程里的城市、景点、活动、餐厅。
                </td>
                <td>
                    @Html.TextAreaFor(om => om.SpecialHope, new { @cols = "55", @rows = "3" })
                    @Html.ValidationMessageFor(om => om.SpecialHope)
                </td>
            </tr>
            <tr>
                <td class="name">
                    请输入验证码<em class="red">*</em>
                </td>
                <td>
                    @Html.TextBoxFor(om => om.Captcha, new { @class = "i_txt", @style = "width: 80px;" })
                    &nbsp;&nbsp;<img id="captcha" alt="验证码" src="@Url.Action("Index", "Captcha")" />
                    <a href="javascript:void(0);" onclick="javascript:$('#captcha').attr('src','@Url.Action("Index", "Captcha")?r=' + new Date().getTime());return false;">
                        <img alt="刷新验证码"
                        src="@Url.Content("~/images/reload_cn.gif")" /></a>(不区分大小写)<br />
                    @Html.ValidationMessageFor(om => om.Captcha)
                </td>
            </tr>
        </table>
        <p class="tbl_send_warp">
            <input id="btnOrder" type="submit" class="tbl_send_btn" value="送出" onclick="javascript:openOrderWin();return false;" /></p>
    }
</div>