@model HHTravel.Site.Models.ProductModel
@{
    var year = ViewBag.Year ?? DateTime.Now.Year;
    var month = ViewBag.Month ?? DateTime.Now.Month;
}
<script type="text/javascript" src="@Url.Content("~/js/hhcal.js?v=2013-03-15")"></script>
<script type="text/javascript">
    $(function () {
        Calendar._url = '@Url.Action("Index", "Calendar", new { productNo = Model.ProductNo })';
        Calendar._onclick = function (date) {
            var hh33 = '@(Model.TravelType == TravelType.TravelType3)' == 'True';
            if (!hh33) {
                // 进入房型选择页面
                var url = '@Url.Action("CalendarRoomFlight", new { productNo = Model.ProductNo })';
                url = url + '?date=' + date + '&year=' + Calendar._year + '&month=' + Calendar._month;
                // redirect
                location = url;
            } else {
                // 弹出人数选择层
                var endDate = parseISO8601(date);
                var days = parseInt($('#Days').val());
                endDate.setDate(endDate.getDate() + days);
                var padZero = function (i) {
                    return (i < 10) ? "0" + i : "" + i;
                };
                var endDateString = endDate.getFullYear() + '-' + padZero(endDate.getMonth() + 1) + '-' + padZero(endDate.getDate());
                $('#BeginDate').val(date);
                $('#EndDate').val(endDateString);
                $('#BeginDateText').val(date);
                $('#EndDateText').val(endDateString);

                var travelChildType = $('#TravelChildType').val();
                var beginDateText = (travelChildType == 1) ? "入住日期" : "开始日期";
                var endDateText = (travelChildType == 1) ? "退房日期" : "结束日期";
                $('#end-date-text').text(endDateText);
                $('#begin-date-text').text(beginDateText);

                $('.mask_layer').show();
                $('.date_select_layer').show();
            }

            $('.close_ico').click(function () {
                $('.mask_layer').hide();
                $('.date_select_layer').hide();
            });
        };
        Calendar.draw('@year', '@month');

        $('#subfrm').submit(function () {
            var adultCount = $('#AdultCount').val();
            if (!adultCount || parseInt(adultCount) <= 0) {
                alert("请输入成人数");
                return false;
            }
        });
    });
</script>
<div class="calendar_month">
    <a href="javascript:Calendar.prevMonth();" class="calendar_l"></a>
    <h5>
        @(year)年@(month)月</h5>
    <a href="javascript:Calendar.nextMonth();" class="calendar_r"></a>
</div>
<div class="calendar_warp">
    <table border="0" cellpadding="0" cellspacing="0" class="tbl tbl_calendar">
        <tr class="tbl_header">
            <td>
                日
            </td>
            <td>
                一
            </td>
            <td>
                二
            </td>
            <td>
                三
            </td>
            <td>
                四
            </td>
            <td>
                五
            </td>
            <td>
                六
            </td>
        </tr>
    </table>
</div>
<div class="price_desc">
    @if (Model.TravelType == TravelType.TravelType2)
    {
        <h6>
            价格说明：</h6>
        <p>
            ·产品价格会根据您所选择的出发日期、出行人数、入住酒店、航班的不同而有所差异</p>
    }
    else if (Model.TravelType == TravelType.TravelType3)
    {
        if (Model.TravelChildType == TravelChildType.定点)
        {
        <h6>
            日期、产品价格说明【定点】：</h6>
        <p>
            •本产品为目的地酒店双人套餐，以上日期为当地酒店入住日期。</p>
        <p>
            •本产品为全英文服务，并已包含酒店提供的部分附加产品及服务。</p>
        <p>
            •产品报价中未含国际机票、签证、保险，选购机票时请注意匹配酒店入住及退房日期。</p>
        <p>
            •产品价格根据您所选择的出发日期等的不同而有所差异，如有随行儿童、第三人入住、或延住，相关报价请咨询鸿鹄客服。</p>
        }
        else if (Model.TravelChildType == TravelChildType.线路)
        {
        <h6>
            日期、产品价格说明【线路】：</h6>
        <p>
            •本产品为海外参团模式，以上日期为当地参团的起始日期。</p>
        <p>
            •本产品为全英文服务，提供当地专业英文领队和向导服务。</p>
        <p>
            •产品报价中未含国际机票、签证、保险，选购机票时请注意匹配当地行程开始和结束的日期及时间。</p>
        <p>
            •产品价格根据您所选择的出发日期等的不同而有所差异，如有随行儿童，相关报价请咨询鸿鹄客服。</p>
        }
    }
</div>
<!--遮罩层-->
<div class="mask_layer">
</div>
<div class="date_select_layer bgwhite" style="behavior: url(@Url.Content("~/css/PIE.htc"));">
    <a class="close_ico mt20 fl_rt">
        <img alt="关闭" src="@Url.Content("~/images/icon_close.gif")" /></a>
    @using (Html.BeginForm("Step1", "OrderWizard", FormMethod.Post, new { @id = "subfrm" }))
    {
        @Html.Hidden("SessionId", Guid.NewGuid())
        @Html.Hidden("ProductId", Model.ProductId)
        @Html.Hidden("BeginDate")
        @Html.Hidden("EndDate")
        @Html.Hidden("Days", Model.Days)
        <h6 class="process mt20 bg_white">
            <span>2</span>选择日期</h6>
        <p class="ds_select mt10">
            <span id="begin-date-text" class="ds_label">入住日期：</span>
            @Html.TextBox("BeginDateText", null, new { @class = "tbl_txt", disabled = "disabled" })
        </p>
        <p class="ds_select">
            <span id="end-date-text" class="ds_label">退房日期：</span>
            @Html.TextBox("EndDateText", null, new { @class = "tbl_txt", disabled = "disabled" })</p>
        if (Model.MaxDelayDays > 0)
        {
        <p class="ds_select">
            <span class="ds_label">延住天数：</span>
            @Html.DropDownList("DelayDays", SelectListFactory.CreateSelectList("{0}天", 0, 0, Model.MaxDelayDays), new { style = "width: 153px; height: 24px;" })
        </p>
        }
        <h6 class="process mt20 bg_white">
            <span>3</span>选择人数</h6>
        <p class="ds_select mt10">
            成人：@Html.TextBox("AdultCount", null, new { @class = "tbl_txt", style = "float: none; width: 50px;" })人
            @if (Model.AllowChild)
            {
                <text>，孩童：</text>@Html.TextBox("ChildCount", null, new { @class = "tbl_txt", style = "float: none; width: 50px;" })<text>人</text>
            }</p>
        <!--按钮组-->
        <div class="tbl_send_warp">
            <a href="#">
                <input type="submit" class="order_btn" value="" /></a>
            <p class="order_infor ml15" style="display: inline; padding-top: 5px;">
                <img alt="订购须知" src="@Url.Content("~/images/order_ico.jpg")" /><a href="@Url.Action("OrderNotes", new { productNo = Model.ProductNo })" class="new-window">订购须知</a></p>
        </div>
    }
</div>
