@model HHTravel.Site.Models.RoomFlightModel
<script type="text/javascript">
    $(function () {
        $('.calendar_order_warp>h6.ticket_tit:first()').css('margin-top', '0px');
    });
    function openOrderWin() {
        $('.field-validation-error').empty();
        var showError = function (err) {
            $('p.order_infor').after($('<span class="field-validation-error" />').text(err));
        };

        var pass = true;
        // 人数验证
        var adultCount = $('#PreOrderModel_AdultCount').val();
        var childCount = $('#PreOrderModel_ChildCount').val();
        if (adultCount < 2) {
            showError('最少成行人数为2成人');
            return false;
        }
        // 酒店验证，每个行程段只能对一个酒店的房型进行选择
        $('.div_seg').each(function () {
            var $selects = $(this).find('select');
            var hotelIds = $selects.map(function () { if ($(this).val() > 0) return $(this).attr('hotelId'); });
            // 同一行程段，选中的房型中，关联的酒店个数不能超过1个
            if ($.unique(hotelIds).length > 1) {
                showError("每个行程段只能选择一个酒店");
                pass = false;
                return false;
            }
        });

        if (!pass) return false;

        // 房型相关验证
        $('.div_seg').each(function (i, tbl) {
            pass = false;
            $(this).find('select').each(function (j, sel) {
                if ($(this).val() > 0) {
                    pass = true;
                    return false;
                }
            });
            if (!pass) {
                var city = $(this).find('.span_city').text();
                showError('请选择在 ' + city + ' 入住的房间！');
                return false;
            }
        });

        if (!pass) return false;

        openwin('about:blank');
        document["order_form"].submit();
    }
</script>
@using (Html.BeginForm("Index2", "Order", FormMethod.Post, new { @name = "order_form", @target = "newwindow" }))
{
    @Html.HiddenFor(rf => rf.PreOrderModel.ProductId)
    @Html.HiddenFor(rf => rf.PreOrderModel.ProductNo)
    @Html.HiddenFor(rf => rf.PreOrderModel.ProductName)
    @Html.HiddenFor(rf => rf.PreOrderModel.DepartureDate)
    @Html.HiddenFor(rf => rf.PreOrderModel.PlanReturnDate)
    @Html.HiddenFor(rf => rf.PreOrderModel.Days)
    @Html.HiddenFor(rf => rf.PreOrderModel.TravelType)
    @Html.HiddenFor(rf => rf.PreOrderModel.ProductPrice)
    <!--1显示已经选好的出发&回程日期-->
    <div class="calendar_order_warp">
        <h6 class="process" style="width: 450px;">
            @*todo: 使用UIHint+DisplayTemplates替换DisplayFormatAttribute*@ <span>1</span>出发日期：<b
                class="ft_blue">@Html.DisplayFor(rf => rf.DepartureDate)</b> ～ 回程日期：<b class="ft_blue">@Html.DisplayFor(rf => rf.ReturnDate)</b></h6>
        <h6 class="pro_price">
            产品价格：<b class="ft_blue">RMB @Html.DisplayFor(rf => rf.ProductPrice)/人</b>
        </h6>
    </div>
    <p class="dotted_line">
    </p>
    <!--2选择人数-->
    <div class="calendar_order_warp">
        <h6 class="process">
            <span>2</span>选择人数：<em>（最少成行：@(Model.MinPersonNum)成人）</em></h6>
        <div class="choose_num">
            成人：@Html.TextBoxFor(rf => rf.PreOrderModel.AdultCount, new { @class = "tbl_txt", style = "width: 50px; float: none;" })人，孩童：@Html.TextBoxFor(rf => rf.PreOrderModel.ChildCount, new { @class = "tbl_txt", style = "width: 50px; float: none;" })人
        </div>
    </div>
    <p class="dotted_line">
    </p>
    <!--3选择航班-->
    <div class="calendar_order_warp">
        <h6 class="process">
            <span>3</span>选择航班</h6>
        @for (int i = 0; i < Model.PreOrderModel.TicketModels.Count; i++)
        {
            var ticket = Model.PreOrderModel.TicketModels[i];
            <h6 class="ticket_tit">
                ·推荐航班@(i + 1)</h6>
            <table border="0" cellpadding="0" cellspacing="0" class="tbl_order">
                <tr class="tr_hide">
                    <td style="width: 55px;">
                    </td>
                    <td style="width: 80px;">
                    </td>
                    <td style="width: 45px;">
                    </td>
                    <td style="width: 55px;">
                    </td>
                    <td style="width: 95px;">
                    </td>
                    <td style="width: 95px;">
                    </td>
                    <td style="width: 65px;">
                    </td>
                    <td style="width: 65px;">
                    </td>
                    <td>
                    </td>
                    <td style="width: 45px;">
                    </td>
                </tr>
                <tr>
                    <td class="name">
                        行程
                    </td>
                    <td class="name">
                        航空公司
                    </td>
                    <td class="name">
                        航班
                    </td>
                    <td class="name">
                        舱等
                    </td>
                    <td class="name">
                        出发地
                    </td>
                    <td class="name">
                        到达地
                    </td>
                    <td class="name">
                        出发时间
                    </td>
                    <td class="name">
                        到达时间
                    </td>
                    <td class="name">
                        价差
                    </td>
                    <td class="name">
                        选择
                    </td>
                </tr>
                @for (int j = 0; j < ticket.FlightModelList.Count; j++)
                {
                    var f = ticket.FlightModelList[j];
                    <tr>
                        <td>
                            @f.SectionName
                        </td>
                        <td>
                            @f.Airline
                        </td>
                        <td>
                            @f.FlightNo
                        </td>
                        <td>
                            @ticket.FlightClassName
                        </td>
                        <td>
                            @f.DepartureAirport
                        </td>
                        <td>
                            @f.ArrivalAirport
                        </td>
                        <td>
                            @f.DepartureTime.Value.ToString(@"hh\:mm")
                        </td>
                        <td>
                            @f.ArrivalTime.Value.ToString(@"hh\:mm")
                        </td>
                        @if (j == 0)
                        {
                            <td rowspan="@ticket.FlightModelList.Count" class="tbl_price">
                                RMB @string.Format("{0:N0}", ticket.PriceDelta)
                            </td>
                            <td rowspan="@ticket.FlightModelList.Count">
                                @Html.RadioButtonFor(rf => rf.PreOrderModel.SelectedTicketId, ticket.TicketId)
                            </td>
                        }
                    </tr>
                }
            </table>
        }
    </div>
    <p class="dotted_line">
    </p>
    <!--4选择酒店-->
    <div class="calendar_order_warp">
        <h6 class="process">
            <span>4</span>选择酒店</h6>
        @{ int roomClassCount = -1; }
        @foreach (var seg in Model.HotelSegmentModelList)
        {
            <div class="div_seg">
                <h6 class="hotel_tit h6_city">
                    ·<span class="span_city">@seg.DestinationCity</span> 入住@(seg.Nights)晚</h6>
                <h6 class="ticket_tit" style="text-indent: 12px;">
                    入住日期：<b class="ft_blue">@Html.DepartureDate(seg.CheckinDate)</b> ～ 退房日期：<b class="ft_blue">@Html.DepartureDate(seg.CheckoutDate)</b></h6>
                <table border="0" cellpadding="0" cellspacing="0" class="tbl_order">
                    <tr class="tr_hide">
                        <td style="width: 300px;">
                        </td>
                        <td style="width: 90px;">
                        </td>
                        <td style="width: 110px;">
                        </td>
                        <td>
                        </td>
                        <td style="width: 80px;">
                        </td>
                    </tr>
                    <tr>
                        <td class="name">
                            酒店
                        </td>
                        <td class="name">
                            房型
                        </td>
                        <td class="name">
                            早晚餐说明
                        </td>
                        <td class="name">
                            价差
                        </td>
                        <td class="name">
                            选择
                        </td>
                    </tr>
                    @for (int i = 0; i < seg.HotelModelList.Count; i++)
                    {
                        var hotel = seg.HotelModelList[i];
                        for (int j = 0; j < hotel.RoomClassModelList.Count; j++)
                        {
                            var roomClass = hotel.RoomClassModelList[j];
                            roomClassCount++;
                        <tr>
                            @if (j == 0)
                            {
                                <td rowspan="@hotel.RoomClassModelList.Count" class="tbl_date">
                                    @Html.ActionLink(hotel.HotelName, "Hotels", new { productNo = Model.ProductNo }, new { @class = "new-window" })
                                </td>
                            }
                            <td>
                                @roomClass.RoomClassName
                            </td>
                            <td>
                                @roomClass.BreakfastDinnerTip
                            </td>
                            <td class="tbl_price">
                                RMB @string.Format("{0:N0}", roomClass.SegmentPriceDelta) /间
                            </td>
                            <td>
                                @Html.HiddenFor(rf => rf.PreOrderModel.RoomClassPostModelList[roomClassCount].SegmentId)
                                @Html.HiddenFor(rf => rf.PreOrderModel.RoomClassPostModelList[roomClassCount].HotelId)
                                @Html.HiddenFor(rf => rf.PreOrderModel.RoomClassPostModelList[roomClassCount].RoomClassId)
                                @Html.HiddenFor(rf => rf.PreOrderModel.RoomClassPostModelList[roomClassCount].RoomClassName)
                                @Html.HiddenFor(rf => rf.PreOrderModel.RoomClassPostModelList[roomClassCount].BreakfastDinnerTip)
                                @Html.HiddenFor(rf => rf.PreOrderModel.RoomClassPostModelList[roomClassCount].SegmentPrice)
                                @Html.HiddenFor(rf => rf.PreOrderModel.RoomClassPostModelList[roomClassCount].SegmentPriceDelta)
                                @Html.DropDownListFor(rf => rf.PreOrderModel.RoomClassPostModelList[roomClassCount].Count, roomClass.GetSelectList(0), new { hotelId = hotel.HotelId })
                            </td>
                        </tr>
                        }
                    }
                </table>
            </div>
            <p class="hotel_dotted_line">
            </p>
        }
    </div>
    <p class="dotted_line">
    </p>
    <div class="tbl_send_warp">
        @{
        // 如果不是从日历页面进入，“回上一页”的逻辑仍是返回日历页面
        var backUrl = Url.Action("CalendarRoomFlight", new
        {
            productNo = Model.ProductNo,
            year = Model.Year,
            month = Model.Month,
            step = 1
        });
        }
        <input type="button" class="back_btn" value="回上一页" onclick="javascript:location='@backUrl';" /><input
            type="submit" value="" class="order_btn ml25" onclick="javascript:return openOrderWin();" />
        <p class="order_infor ml15" style="display: inline; padding-top: 5px;">
            <img alt="订购须知" src="@Url.Content("~/images/order_ico.jpg")" />
            <a href="@Url.Action("OrderNotes", new { productNo = Model.ProductNo })" class="new-window">
                订购须知</a></p>
    </div>
}