@model HHTravel.CRM.Booking_Online.Model.Product
@{
    var p = Model;
    string daysText = (p.TravelType == TravelType.单品游) ?
        string.Format("{0}天/{1}晚", p.Days, p.MinLodgingDays ?? p.Days - 1) :
        string.Format("{0}天", p.Days);
}
<!--行程亮点-->
<div class="highlights" style="display: block;">
    <h5>
        行程亮点</h5>
    <div class="h_detail">
        @Html.Image(p.MainImage, Url.Content("~/images/nopic.gif"), p.ProductName)
        <ul class="l_theme h_reset">
            @if (p.TravelType == TravelType.单品游)
            {
                <li><span class="name">城市：</span><span class="value">@p.DestinationCity</span></li>
            }
            else
            {
                <li><span class="name">旅行主题：</span><span class="value">@string.Join("、", p.InterestList.Select(i => i.Name ?? ""))</span></li>
            }
            <li>
                @if (p.TravelType == TravelType.单品游)
                {
                    <span class="name">入住日期：</span>
                }
                else
                { 
                    <span class="name">出发日期：</span>                
                }
                <span id="ddate2" class="value" style="display: none">@*/前后的空格是为了解决字符换行问题*@
                    @string.Join(" / ", p.DepartureDateList.Select(d => d.ToString("yyyy.MM.dd")))
                </span><span id="ddate1" class="value">@(string.Join("/", p.DepartureDateList.Select(d => d.ToString("yyyy.MM.dd")).Take(4)))
                    @if (p.DepartureDateList.Count > 4)
                    {
                        <text>...</text><a class="data_more" href="@Url.Action("Details", new { productNo = p.ProductNo, tab = 3 })">更多</a>
                    }</span></li>
            <li><span class="name">天 数：</span><span class="value">@daysText </span></li>
            @if (p.TravelType != TravelType.单品游)
            {
                <li><span class="name">价 格：</span><span class="value"><em>RMB @p.MinPrice</em>起(含税)</span></li>
            }
            else
            { 
                <li><span class="name">市场参考：</span><span class="value">RMB @(p.MinMarketPrice)
                    起(含税)</span></li>
                <li><span class="name">鸿鹄价格：</span><span class="value"><em>RMB @p.MinPrice</em>起(含税)</span></li>
            }
        </ul>
    </div>
    <div class="h_content">
        @Html.Raw(@p.Feature)
    </div>
    <h5>
        高端坚持</h5>
    <div class="h_brand">
        <p>
            「鸿鹄逸游 HHtravel」以高端坚持打造每趟旅程，坚持高标准的服务规格，让您无忧无虑，尽情享受优质旅行。</p>
        <ul class="h_brand_idea">
            <li>■ 商 务 舱</li>
            <li>■ 高端住宿</li>
            <li>■ 美食飨宴</li>
            <li>■ 六人成行</li>
            <li>■ 一人两座</li>
            <li>■ 专业领队</li>
            <li>■ 严选时节</li>
            <li>■ 小型团队</li>
            <li>■ 订制延宿</li>
            <li>■ 珍贵稀有</li>
        </ul>
        <span class="details_link">&gt;&gt;<a href="@Url.Action("BrandConcept", "Home")">详细内容
        </a></span>
    </div>
    @if (p.RouteMap != null)
    {
        <h5>
            @if (p.TravelType == TravelType.单品游)
            {
                <text>位置图</text>
            }
            else
            {
                <text>路线图</text>
            }
        </h5>
        <p class="road_map">
            <!--liuyan:路线图的整个URL都是需要从数据库中取得-->
            @Html.Image(p.RouteMap)</p>
    }
</div>
