@model HHTravel.Site.Models.ProductListModel
@{
    Func<string, object, string> getUrl = (name, value) =>
    {
        var a = Model.PagerModel.GetUrl(name, (value ?? "").ToString(), Model.PagerModel.BaseUrl);
        return a;
    };
}
<script type="text/javascript">
    $(function () {
        //旅游型态说明提示层
        $('#tips_desc').mouseover(function () {
            $('.spw_type_layer').show();
        });
        $('#tips_desc').mouseout(function () {
            $('.spw_type_layer').hide();
        });
        //选中旅游型态
        var travelType = "@(Model.TravelType ?? 0)";
        $('input[name="spw_type"][value=' + travelType + ']').attr('checked', true);
        //按旅游型态筛选
        $('input[name="spw_type"]').change(function () {
            var url = $(this).attr('data-url');
            location = url;
        });
        //选中出发城市
        var cityCode = '@(Model.DepartureCity != null ? Model.DepartureCity.Value.CityCode : "null")';
        $('input[name="spw_city"][value=' + cityCode + ']').attr('checked', true);
        //按出发城市筛选
        $('input[name="spw_city"]').change(function () {
            var url = $(this).attr('data-url');
            location = url;
        });
        // 选中箭头效果
        var sort = "@(Model.Sort)";
        $a = $('.sort').find('a[data-sort="' + sort + '"]');
        var descending = "@(Model.Descending)";
        if (descending == 'False') {
            $a.attr('class', 'sort_asc');
        } else {
            $a.attr('class', 'sort_desc');
        }

        // 切换升降序
        $('.sort a').click(function () {
            var $a = $(this);
            var href = $a.attr('href');
            if (href.indexOf('descending=') < 0) {
                href += '&descending='
            }
            var oldClass = $a.attr('class');
            if (oldClass == '' || oldClass == 'sort_asc') {
                href = href.replace(/descending=(true|false|)/i, 'descending=true');
                location = href;
            } else if (oldClass == 'sort_desc') {
                href = href.replace(/descending=(true|false|)/i, 'descending=false');
                location = href;
            }
            return false;
        });
    });
</script>
<div class="sort_page_warp">
    <p class="spw_type">
        <span>旅游型态@*（<a id="tips_desc" href="javascript:void(0);">说明</a>）*@：</span>
        <input type="radio" name="spw_type" id="Radio1" value="0" data-url="@getUrl("travelType", null)" />
        <label for="type01">
            全部</label>
        <input type="radio" name="spw_type" id="type01" value="14" data-url="@getUrl("travelType", 14)" />
        <label for="type01">
            私家团</label>
        <input type="radio" name="spw_type" id="type02" value="2" data-url="@getUrl("travelType", 2)" />
        <label for="type02">
            @TravelType.TravelType2.Description()</label>
        @if (GlobalConfig.ContainsProductsIsSingleProduct)
        {
            <input type="radio" name="spw_type" id="type03" value="3" data-url="@getUrl("travelType", 3)" />
            <label for="type03">
                @TravelType.TravelType3.Description()</label>}</p>
    <p class="spw_dest" style="width: 270px;">
        <span>出发地：</span>
        <input type="radio" name="spw_city" id="city_tpye01" value="null" data-url="@getUrl("departureCity", null)" />
        <label for="city_tpye01">
            全部</label><input type="radio" name="spw_city" id="city_tpye02" value="BJS" data-url="@getUrl("departureCity", "BJS")" />
        <label for="city_tpye02">
            北京</label><input type="radio" name="spw_city" id="city_tpye03" value="SHA" data-url="@getUrl("departureCity", "SHA")" />
        <label for="city_tpye03">
            上海</label></p>
    <!--升序给a加class="sort_asc"；降序给a加class="sort_desc"-->
    <p class="sort">
        <span>排列方式：</span> <a href="@getUrl("sort", (int)SortRule.ProductTripDays)" data-sort="@((int)SortRule.ProductTripDays)">
            依天数</a><span>|</span> <a href="@getUrl("sort", (int)SortRule.ProductMinDepartureDate)" data-sort="@((int)SortRule.ProductMinDepartureDate)">
                依出发月份</a><span>|</span> <a href="@getUrl("sort", (int)SortRule.ProductMinPrice)" data-sort="@((int)SortRule.ProductMinPrice)">
                    依价格</a>
    </p>
    <p class="page">
        @Html.Partial("_Pager", Model.PagerModel)
    </p>
    <!--旅游型态说明-->
    <div class="spw_type_layer">
        <p>
            <b>旅游型态说明：</b><br />
            ‧私家团(6人成行．全程领队服务)<br />
            ‧自由行(2人成行‧当地专属车导)@if (GlobalConfig.ContainsProductsIsSingleProduct)
                             {<br />
                <text>‧HH33(2人成行．自行组装)</text>}</p>
        <div class="spw_type_tip">
            <em>&#9670</em><span>&#9670</span>
        </div>
    </div>
</div>
