@model HHTravel.CRM.Booking_Online.Site.Models.ProductListModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@section JS{
    <script type="text/javascript">
        $(function () {
            $('.l_left').each(function () {
                var $left = $(this);
                var h = $left.height();
                $left.siblings('.l_link').css('padding-top', (h - 120) / 2);
            });
        });
    </script>
}
@if (Model.ProductModelList.Count() > 0)
{
    @Html.Partial("_ListBar", Model)
    <div class="list_warp">
        @for (int i = 0; i < Model.ProductModelList.Count; i++)
        {
            var p = Model.ProductModelList[i];
            string daysText = (p.TravelType == TravelType.TravelType3) ?
            string.Format("{0}天/{1}晚", p.Days, p.MinLodgingDays ?? p.Days - 1) :
            string.Format("{0}天", p.Days);
            <!--list_item begin-->
            <div class="list_item">
                <h5 class="@(p.HasDiscount ? "l_tit tag_sale" : "l_tit")">
                    <a href="@Url.Product(p.ProductNo)">@p.ProductName</a>
                    @if (Model.IsShowLinkOfOtherDepartureCity)
                    {
                        <a href="@Url.Action("Search", "Product", new { productName = p.ShortenName })" class="list_oc_depart">
                            选择其他城市出发</a>}</h5>
                <p class="l_desc">
                    @Html.TruncateProductDescription(p.Feature, 100, p.ProductNo)</p>
                <div class="l_main">
                    <div class="l_left">
                        @Html.Image(p.MainImage, Url.Content("~/images/nopic.gif"), new { alt = p.ProductName })
                        <ul class="l_theme">
                            <!--liuyan:TravelType3-城市，团队/TravelType2-旅行主题，另外还需要显示旅游形态的图标-->
                            @if (p.TravelType == TravelType.TravelType3)
                            {

                                <li><span class="name">城市：</span><span class="value">@p.DestinationCity</span></li>
                            }
                            else
                            {
                                <li><span class="name">旅行主题：</span><span class="value">@string.Join("、", p.InterestList)</span></li>
                            }
                            <li>
                                @if (p.TravelType == TravelType.TravelType3)
                                {
                                    <span class="name">入住日期：</span>}
                                else
                                {
                                    <span class="name">出发日期：</span>}<span class="value">@string.Join("/", p.DepartureDateList.Select(d => d.Date.ToString("yyyy.MM.dd")).Take(3))
                                        @if (p.DepartureDateList.Count > 3)
                                        {
                                            <a class="data_more" style="color: #5a5a5a;" href="@Url.Action("Index", "ProductDetails", new { productNo = p.ProductNo, tab = 3 })">
                                                ...</a>
                                        }</span></li>
                            <li><span class="name">天 数：</span><span class="value">@daysText</span></li>
                            <li><span class="name">价 格：</span><span class="value"><em>RMB @Html.DisplayFor(m => m.ProductModelList[i].MinPrice)</em>元起(含税)</span></li>
                        </ul>
                        @Html.Partial("_ProductTags", p)
                    </div>
                    <ul class="l_link">
                        <li>．<a href="@Url.Action("Index", "ProductDetails", new { productNo = p.ProductNo, tab = 0 })">行程亮点</a></li>
                        <li>．<a href="@Url.Action("Index", "ProductDetails", new { productNo = p.ProductNo, tab = 1 })">详细行程</a></li>
                        <li>．<a href="@Url.Action("Index", "ProductDetails", new { productNo = p.ProductNo, tab = 2 })">精选饭店</a></li>
                        <li>．<a href="@Url.Action("Index", "ProductDetails", new { productNo = p.ProductNo, tab = 3 })">日期订购</a></li>
                        @if (p.TravelType != TravelType.TravelType3)
                        {
                            <li>．<a href="@Url.Action("Index", "ProductDetails", new { productNo = p.ProductNo, tab = 4 })">量身订做</a></li>
                        }
                    </ul>
                </div>
            </div>
            <!--list_item end-->
        }
    </div>
    <div class="sort_page_warp" style="margin-top: 15px; _margin-top: 12px;">
        <p class="page" style="width: 100%;">
            @Html.Partial("_Pager", Model.PagerModel)
        </p>
    </div>
}
else
{
    if (Model.TravelType.HasValue)
    {
    @Html.Partial("_ListBar", Model)
    }
    <!--no data begin-->
    <div class="no_data_warp">
        很抱歉，暂时没有找到符合您要求的产品。
        <p>
            <b>鸿鹄建议您：</b><br />
            1.更换其他搜索条件试试看;<br />
            2.联系鸿鹄客服400 690 2323</p>
    </div>
}