@model HHTravel.CRM.Booking_Online.Site.Models.NewsletterModel
@using (Ajax.BeginForm("Index", "Newsletter", new AjaxOptions { HttpMethod = "Post", OnSuccess = "onSuccess" }, new { @id = "subfrm" }))
{
    <ul class="email_form">
        <li class="name">请输入您的E-mail</li>
        <li class="value">
            @Html.TextBoxFor(m => m.Email, new { @id = "email", @class = "i_txt" })
            @Html.ValidationMessageFor(m => m.Email)
        </li>
        <li class="name">请再输入一次E-mail</li>
        <li class="value">
            @Html.TextBoxFor(m => m.EmailAgain, new { @class = "i_txt" })
            @Html.ValidationMessageFor(m => m.EmailAgain)
        </li>
        <li class="name">订阅或取消</li>
        <li class="value">
            @Html.RadioButtonFor(m => m.IsSubscription, true, new { @name = "sub" })订阅
            @Html.RadioButtonFor(m => m.IsSubscription, false, new { @name = "sub" })取消订阅
            @Html.ValidationMessageFor(om => om.IsSubscription)
        </li>
        <li class="name">请输入验证码</li>
        <li class="value">
            @Html.TextBoxFor(om => om.Captcha, new { @class = "i_txt", @style = "width: 80px;" })
            <img id="captcha" alt="验证码" src="@Url.Action("Index", "Captcha")" />
            <a href="javascript:void(0);" onclick="javascript:$('#captcha').attr('src','@Url.Action("Index", "Captcha")?r=' + new Date().getTime());return false;" class="yzm_btn">
            </a>(不区分大小写)
            <br />
            @Html.ValidationMessageFor(om => om.Captcha)
        </li>
    </ul>
    <p class="send_btn_warp">
        <input id="btnSub" type="submit" class="send_btn" value="" /></p>
}