@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@section JS{
    @*<script type="text/javascript" src="@Url.Content("~/js/swap_img.js")"></script>
    <script type="text/javascript">
        $(function () {
            // 预加载
            MM_preloadImages('@Url.Content("images/map-1_04_cn.jpg")',
                '@Url.Content("~/images/map-1_05_cn.jpg")',
                '@Url.Content("~/images/map-1_06_cn.jpg")',
                '@Url.Content("~/images/map-1_03_cn.jpg")',
                '@Url.Content("~/images/map-1_02_cn.jpg")')
        });
    </script>*@
}
<h4 class="d_title">
    目的地</h4>
<p class="d_cont">
    「鸿鹄逸游 HHtravel」实现高端旅游者的梦想！百个高端旅游行程遍及全球10大目的地，让您以无与伦比的奢华环游世界，每一趟旅程，都是梦想、是体验、是收藏。
</p>
<div class="d_map">
    <img src="@Url.Content("~/images/map20120917_cn.jpg")" name="map" width="710" height="525" border="0" alt="鸿鹄逸游目的地"
        usemap="#mapMap" id="map" />
    <map name="mapMap" id="mapMap">
        <area title="欧洲" shape="poly"
            coords="345,138,374,113,391,109,410,105,421,119,436,110,446,91,471,88,446,107,468,118,473,125,451,150,435,185,427,193,399,192,387,203,378,210,360,209,350,196,332,207,317,211,315,194,315,161"
            href="@Url.Action("FindBy", "Product", new { propertyType = 1, propertyValue = 44 })" />
        <area title="大洋洲岛屿" shape="poly"
            coords="605,307,637,322,638,361,684,391,686,396,667,420,622,407,602,385,561,388,558,357"
            href="@Url.Action("FindBy", "Product", new { propertyType = 1, propertyValue = 47 })" />
        <area title="非洲.中东" shape="poly"
            coords="352,294,350,307,360,329,356,343,363,372,371,386,391,384,404,359,423,365,431,335,410,316,421,298,434,277,451,250,462,242,439,212,427,194,412,195,391,202,397,214,398,225,377,223,355,220,353,212,322,217,304,239,299,267,315,292,339,287"
            href="@Url.Action("FindBy", "Product", new { propertyType = 1, propertyValue = 46 })" />
        <area title="环游世界" shape="poly"
            coords="464,14,534,18,557,4,576,10,660,10,662,41,643,47,583,46,464,37" href="@Url.Action("AroundWorld", "Home")" />
                      
        <area title="高端游轮" shape="poly" coords="51,383,123,376,151,314,136,286,44,281,27,323,24,357" href="@Url.Action("FindBy", "Product", new { propertyType = 1, propertyValue = 50 })" />
        <area title="高端河轮" shape="poly" coords="250,390,244,441,279,457,363,447,351,397" href="@Url.Action("FindBy", "Product", new { propertyType = 1, propertyValue = 51 })" />
        <area title="东南亚" shape="poly" coords="459,234,473,254,482,283,493,279,515,256,521,295,559,325,590,293,624,262,553,239,514,211,487,209" href="@Url.Action("FindBy", "Product", new { propertyType = 1, propertyValue = 49 })" />
                      
        <area title="日韩港澳台" shape="poly" coords="596,226,691,199,693,176,615,163" href="@Url.Action("FindBy", "Product", new { propertyType = 1, propertyValue = 48 })" />
        <area title="美洲" shape="poly" coords="14,159,58,152,87,204,132,266,173,291,170,321,182,434,197,436,233,377,261,322,211,279,152,235,186,211,220,172,248,136,298,75,239,58,109,77,94,112,19,108,6,121" href="@Url.Action("FindBy", "Product", new { propertyType = 1, propertyValue = 45 })" />
        <area title="极地" shape="poly" coords="34,518,213,487,302,479,413,481,571,480,620,503,619,521,37,522" href="@Url.Action("FindBy", "Product", new { propertyType = 1, propertyValue = 143 })" />
    </map>
</div>
