@using HHTravel.DataService
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section JS
{
    @Html.DynamicScriptsBundle("Scripts/Select2css", "~/js/select2css.js")
    <script src="@Url.Content("~/js/datepicker/WdatePicker.js")" type="text/javascript"></script>
    <script type="text/javascript">
        // 轮播
        var t = imgIndex = 0, count;
        $(function () {
            count = $("#banner_list a").length;
            $("#banner_list a:not(:first-child)").hide();
            $("#focus_area_bn li").click(function () {
                switchImg($(this));
            });
            t = setInterval("showAuto()", 4000);
            $("#focus_area_bn").hover(function () { clearInterval(t) }, function () { t = setInterval("showAuto()", 4000); });
        });

        var switchImg = function ($ele) {
            var i = $ele.text() - 1; //取Li元素内的值，即1，2，3，4
            imgIndex = i;
            if (i >= count) return;
            $("#banner_list a").filter(":visible").fadeOut(1500).parent().children().eq(i).fadeIn(500);

            document.getElementById("focus_area_bn").style.background = "";
            $ele.toggleClass("on");
            $ele.siblings().removeAttr("class");
        };

        function showAuto() {
            imgIndex = imgIndex >= (count - 1) ? 0 : ++imgIndex;
            var $li = $('#focus_area_bn li').eq(imgIndex);
            switchImg($li);
        }
    </script>
    <script type="text/javascript">
        $(function () {
            // 9宫格
            var trigger = null;
            $('.idx_new_pro_list li').hover(function () {
                var $li = $(this);
                trigger = setTimeout(function () {
                    $li.css('border', '3px solid #85ddd1');
                    $li.find('.idx_show_addr').animate({ right: "-1px" }, 400);
                }, 400);
            }, function () {
                clearTimeout(trigger);
                $(this).css('border', '3px solid #fff');
                $(this).find('.idx_show_addr').animate({ right: "-85px" }, 200);
            });
            $('.idx_show_addr a').attr('target', '_blank');
        });
    </script>
    @Html.RenderResources("jsSearchBox")}
<!--广告图片切换-->
<div class="photo_warp">
    @Html.MarketingHtml("首页轮播广告")
</div>
<div class="main_warp clearfix pt20" style="width: 655px; padding-left: 305px;">
    @Html.Partial("_SearchBox", (SearchBoxModel)ViewBag.SearchModel)
    <!--高端产品推荐-->
    @Html.MarketingHtml("首页右上角营销内容")
</div>
@*<div class="main_warp clearfix pt20">
    <!--新品热推-->
    @Html.MarketingHtml("首页新品热推")
</div>*@
<div class="main_warp clearfix pt20">
    <!--年度推荐-->
    @Html.MarketingHtml("首页年度推荐")
</div>
<div class="main_warp clearfix pt20">
    <!--本周推荐-->
    @Html.MarketingHtml("首页本周推荐")
</div>@*
<div class="main_warp clearfix pt20">
    <!--一生必游-->
    @Html.MarketingHtml("首页一生必游")
</div>
<div class="main_warp clearfix pt20">
    <!--热门排行-->
    @Html.MarketingHtml("首页热门排行")
</div>*@
<div class="main_warp clearfix pt20" style="overflow: hidden;">
    <!--合作专区-->
    <!--友情链接-->
    @Html.MarketingHtml("首页合作专区")
</div>
<div class="main_warp clearfix pt20">
    <!--口号-->
    <div class="idx_slogan">
        <h2>
            鸿鹄 实现高端旅游者的梦想</h2>
        <p>
            「鸿鹄逸游 HHtravel」创作，挑战极限；服务，精雕细琢；以高端坚持打造每趟旅行；一趟旅行，无价收藏。</p>
        <ul class="h_brand_idea">
            <li>■ 公 务 舱</li>
            <li>■ 高端住宿</li>
            <li>■ 美食飨宴</li>
            <li>■ 六人成行</li>
            <li>■ 一人两座</li>
            <li>■ 专业领队</li>
            <li>■ 严选时节</li>
            <li>■ 小型团队</li>
            <li>■ 订制延宿</li>
            <li>■ 珍贵稀有</li>
        </ul>
    </div>
</div>