@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<h4 class="d_title">
    旅行主题</h4>
<p class="d_cont">
    「鸿鹄逸游 HHtravel」创作挑战极限，服务精雕细琢，打造百个高端旅游行程；您可随意选择最适合您及家人、亲友的行程，体验各式主题的奢华享受与备受尊宠的高端礼遇。</p>
<p class="d_photo_list">
    <a href="@Href("~/Product/2/288")">
        <img alt="地球标记" src="@Url.Content("~/images/theme_pic-1_cn.jpg")" /></a>
    <a href="@Href("~/Product/2/34")">
        <img alt="世界遗产" src="@Url.Content("~/images/theme_pic-2_cn.jpg")" /></a>
    <a href="@Href("~/Product/2/35")">
        <img alt="节日庆典" src="@Url.Content("~/images/theme_pic-3_cn.jpg")" /></a>
    <a href="@Href("~/Product/2/36")">
        <img alt="亲子同乐" src="@Url.Content("~/images/theme_pic-4_cn.jpg")" /></a>
    <a href="@Href("~/Product/2/37")">
        <img alt="岛屿度假" src="@Url.Content("~/images/theme_pic-5_cn.jpg")" /></a>
    <a href="@Href("~/Product/2/38")">
        <img alt="轻度探险" src="@Url.Content("~/images/theme_pic-6_cn.jpg")" /></a>
    <a href="@Href("~/Product/2/39")">
        <img alt="高端邮轮" src="@Url.Content("~/images/theme_pic-7_cn.jpg")" /></a>
    <a href="@Href("~/Product/2/40")">
        <img alt="高端火车" src="@Url.Content("~/images/theme_pic-8_cn.jpg")" /></a>
    <a href="@Href("~/Product/2/41")">
        <img alt="高端TravelType2" src="@Url.Content("~/images/theme_pic-9_cn.jpg")" /></a>
</p>