@model HHTravel.CRM.Booking_Online.Site.Models.ProductModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    var prodModel = Model;
    int tab = ViewBag.Tab ?? 0;
}
@section JS{
    @Html.DynamicScriptsBundle("~/Scripts/js/Share", "~/js/shareToSociality_cn.js", "~/js/printer.js", "~/js/downloadPDF.js")
    <script type="text/javascript">
        $(function () {
            //tab切换
            $('#tab li').click(function () {
                $(this).addClass('current').siblings().removeClass();
                //var i = $('#tab li').index(this);
                //$('#pro_list>div').eq(i).show().siblings().hide();
            });
            var htab = '@(ViewBag.Tab != null ? ViewBag.Tab : 0)';
            $($('#tab li')[htab]).click();
            //字体放大缩小
            $("#r_ope img").click(function () {
                var font = $("#pro_list").css("font-size");
                var f = parseFloat(font, 10);
                var c_name = $(this).attr("class");
                if (c_name == "c_small") {
                    if (f <= 22) {
                        f += 2;
                    }
                } else if (c_name == "c_big") {
                    if (f >= 12) {
                        f -= 2;
                    }
                }
                $("#pro_list").css("font-size", f);
            });
            //点击分享显示层
            //            $('#share').click(function () {
            //                $('#share_layer').slideToggle(500);
            //                $('#share_layer').find('a.ico_close').click(function () {
            //                    $('#share_layer').slideUp(500);
            //                });
            //            });
        });
    </script>
}
<div class="r_ope" id="r_ope">
    <div class="r_ope_details">
        <img alt="字体缩小" class="c_big" src="@Url.Content("~/images/small_t.gif")" /><img alt="字体放大" class="c_small"
        src="@Url.Content("~/images/big_t.gif")" /><a class="s_pdf"
                onclick="javascript:downloadPDF('@Url.Action("DownloadPDF", "ProductDetails", new { productNo = prodModel.ProductNo }, "http")');">PDF下载</a><a
            id="printer" href="javascript:printer('@Url.AbsoluteAction("PDF", "ProductDetails", new { ProductNo = prodModel.ProductNo })');"
            class="print">打印本页</a>
    </div>
    <iframe id='PDFDownload_ifm' style='display: none'></iframe>
    <div class="pdf_loading" style="display: none">
        <img alt="loading" src="@Url.Content("~/images/020.gif")" />PDF产生中,请稍后...</div>
</div>
<h3 class="r_title">
    @prodModel.ProductName<span class="pro_num">@prodModel.ProductNo</span></h3>
<p class="oc_depart_warp">
    <a href="@Url.Action("Search", "Product", new { ProductName = prodModel.ShortenName })" class="other_cities_depart">
        选择其他城市出发</a></p>
@*@if (prodModel.TravelType != TravelType.TravelType3)
{*@
<ul class="tab" id="tab">
    <li class="current"><a href="@Url.Action("Index", new { productNo = prodModel.ProductNo, tab = 0 })">
        行程亮点</a></li>
    <li><a href="@Url.Action("Index", new { productNo = prodModel.ProductNo, tab = 1 })">
        详细行程</a></li>
    <li><a href="@Url.Action("Index", new { productNo = prodModel.ProductNo, tab = 2 })">
        精选饭店</a></li>
    <li><a href="@Url.Action("Index", new { productNo = prodModel.ProductNo, tab = 3 })">
        出发日期 .订购</a></li>
    <li><a href="@Url.Action("Index", new { productNo = prodModel.ProductNo, tab = 4 })">
        量身定制</a></li>
    <li><a href="@Url.Action("Index", new { productNo = prodModel.ProductNo, tab = 5 })">
        签证信息</a></li>
</ul>
@*}
else
{
    <ul class="tab_long" id="tab">
        <li class="current"><a href="@Url.Action("Index", new { productNo = prodModel.ProductNo, tab = 0 })">
            行程亮点</a></li>
        <li><a href="@Url.Action("Index", new { productNo = prodModel.ProductNo, tab = 1 })">
            详细行程</a></li>
        <li><a href="@Url.Action("Index", new { productNo = prodModel.ProductNo, tab = 2 })">
            精选饭店</a></li>
        <li><a href="@Url.Action("Index", new { productNo = prodModel.ProductNo, tab = 3 })">
            日期 ‧ 价格</a></li>
    </ul>
}*@
<div class="pro_list" id="pro_list">
    @switch (tab)
    {
        case 0:
        default:
        @Html.Partial("_Highlights", prodModel)
   break;
        case 1:
        @Html.Partial("_Schedule", prodModel)
@*   if (prodModel.TravelType != TravelType.TravelType3)
   {
        @Html.Partial("_Schedule", prodModel)
   }
   else
   {
        @Html.Partial("_Schedule3", prodModel)
   }*@
   break;
        case 2:
        @Html.Partial("_Hotels", prodModel.HotelList)
@*   if (prodModel.TravelType != TravelType.TravelType3)
   {
        @Html.Partial("_Hotels", prodModel.HotelList)
   }
   else
   {
        @Html.Partial("_Hotels3", prodModel.HotelList)
   }*@
   break;
        case 3:
        @Html.Partial("_CalendarRoomFlight", prodModel)
   break;
        case 4:
   Html.RenderAction("Customize", "Order", new { productNo = prodModel.ProductNo });
   break;
        case 5:
        <!--签证信息-->
        <div class="highlights">
            <h5>
                签证信息</h5>
            <div class="h_content">
                @if (!string.IsNullOrEmpty(Model.VisaNotes))
                {
                    <p>
                        提醒您，为充分享受旅游乐趣，出国需备妥目的地国家签证，并根据行程提前申请。若您有办理签证需求，欢迎点选下方网址，我们将竭诚为您服务。</p>
                    var html = System.Text.RegularExpressions.Regex.Replace(Model.VisaNotes, @"(http+[s]?[^<\b\s|]+)", @"<a href='$1' class='new-blank'>签证须知</a>");
                    @Html.Raw(html)
                }
                else
                {
                    <text>很抱歉，当前产品暂时没有签证信息。 </text>
                }</div>
        </div>
                break;
    }
</div>
<!--分享层-->
@{ var pic = prodModel.MainImage != null ? prodModel.MainImage.Url : "";
   var content = prodModel.ProductName;
   var url = Url.Product(prodModel.ProductNo);
}
<div class="share_block">
    <span>分享</span> <a href="javascript:void(0)" title="新浪微博" class="sina_share" onclick="share('weibo', '@url', '@content', ['@pic'])">
    </a>
    <a href="javascript:void(0)" title="腾讯微博" class="tx_share" onclick="share('tqq', '@url', '@content', ['@pic'])">
    </a>
    <a href="javascript:void(0)" title="人人网" class="rr_share" onclick="share('renren', '@url', '@content', ['@pic'])">
    </a>
    <a href="javascript:void(0)" title="QQ空间" class="qq_share" onclick="share('qzone', '@url', '@content', ['@pic'])">
    </a>
    <a href="@Url.Action("Share", new { productNo = Model.ProductNo })" title="转寄好友" class="email_share new-window">
    </a>
</div>