@model HHTravel.CRM.Booking_Online.Site.Models.ProductModel
@{
    Layout = null;
    var p = Model;
    string daysText = (p.TravelType == TravelType.TravelType3 && p.TravelChildType == TravelChildType.定点) ?
        string.Format("{0}天/{1}晚", p.Days, p.MinLodgingDays ?? p.Days - 1) :
        string.Format("{0}天", p.Days);
}
<!DOCTYPE html>
<html>
<head>
    <title>实现高端旅游者的梦想‧鸿鹄逸游 Hhtravel</title>
    <link href="@Url.Content("~/css/reset.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/css/common.css")" type="text/css" rel="stylesheet" />
    <link href="@Url.Content("~/css/layout.css")" type="text/css" rel="stylesheet" />
    <style type="text/css">
        .header_warp, .order_warp, .header, .highlights, .send_order_footer, .road_map img
        {
            width: 760px;
        }
        .header img, .send_order_footer img
        {
            width: 760px;
        }
        .r_title
        {
            width: 680px;
        }
        .h_detail, .l_theme, .l_theme li
        {
            width: 535px;
        }
        .h_brand
        {
            width: 750px;
        }
        .day_list_tit
        {
            width: 750px;
        }
        .other_msg_list p, .other_msg_list p.credit_card
        {
            width: 690px;
        }
        .h_photos
        {
            width: 775px;
        }
        .h_photos img
        {
            width: 240px;
        }
        .h_img_warp
        {
            padding-left: 550px;
        }
        .h_img_warp img.big_img
        {
            width: 540px;
            margin-left: -550px;
        }
        .h_img_title
        {
            width: 730px;
        }
    </style>
</head>
<body>
    <div class="header_warp">
        <div class="order_warp">
            <div class="pdf_header">
                <img alt="鸿鹄逸游" src="@Url.Content("~/images/print_header.gif")" />
            </div>
            <h3 class="r_title">
                @p.ProductName<span class="pro_num">@p.ProductNo</span></h3>
            <!--行程亮点-->
            <div class="highlights">
                <h5>
                    行程亮点</h5>
                <div class="h_detail">
                    @Html.Image(p.MainImage, Url.Content("~/images/nopic.gif"), p.ProductName)
                    <ul class="l_theme h_reset">
                        <li><span class="name">旅行主题：</span><span class="value">@string.Join("、", p.InterestList.Select(i => i.Name ?? ""))</span></li>
                        <li>
                            @if (p.TravelType == TravelType.TravelType3 && p.TravelChildType == TravelChildType.定点)
                            {
                                <span class="name">入住日期：</span>
                            }
                            else
                            {
                                <span class="name">出发日期：</span>
                            }
                            <span class="value">@*/前后的空格是为了解决字符换行问题*@
                                @string.Join(" / ", p.DepartureDateList.Select(d => d.Date.ToString("yyyy.MM.dd")))
                            </span></li>
                        <li><span class="name">天 数：</span><span class="value">@daysText </span></li>
                        <li><span class="name">价 格：</span><span class="value"><em>RMB @p.MinPrice</em>起(含税)</span></li>
                    </ul>
                </div>
                <div class="h_content">
                    @Html.Raw(@p.Feature)
                </div>
            </div>
            <div class="highlights">
                <div style="float: left;">
                    <h5>
                        高端坚持</h5>
                    <div class="h_brand">
                        <p>
                            「鸿鹄逸游 HHtravel」以高端坚持打造每趟旅程，坚持高标准的服务规格，让您无忧无虑，尽情享受优质旅行。</p>
                        <ul class="h_brand_idea">
                            <li>■ 商 务 舱</li>
                            <li>■ 高端住宿</li>
                            <li>■ 美食飨宴</li>
                            <li>■ 六人成行</li>
                            <li>■ 一人两座</li>
                            <li>■ 专业领队</li>
                            <li>■ 严选时节</li>
                            <li>■ 小型团队</li>
                            <li>■ 订制延宿</li>
                            <li>■ 珍贵稀有</li>
                        </ul>
                        @*<span class="details_link">&gt;&gt;<a href="@Url.Action("BrandConcept", "Home")">详细内容
                </a></span>*@
                    </div>
                </div>
                @if (p.RouteMap != null)
                {
                    <div style="float: left;">
                        <h5>
                            @if (p.TravelType == TravelType.TravelType3 && p.TravelChildType == TravelChildType.定点)
                            {
                                <text>位置图</text>
                            }
                            else
                            {
                                <text>路线图</text>
                            }</h5>
                        <p class="road_map">
                            <!--liuyan:路线图的整个URL都是需要从数据库中取得-->
                            @Html.Image(p.RouteMap)</p>
                    </div>
                }
            </div>
            <!--详细行程-->
            <div class="highlights">
                <h5>
                    详细行程</h5>
                <div class="day_list_warp">
                    @for (int i = 0; i < p.ScheduleItemList.Count; i++)
                    {
                        var s = p.ScheduleItemList[i];
                        <div class="day_list_item" style="page-break-after: auto;">
                            <h6 class="d_num">
                                第 @s.Sort 天：@s.Name
                            </h6>
                            <p class="d_desc">
                                @Html.Raw(s.Infos.FlightInfo ?? s.Infos.SpotsInfo)</p>
                            <p class="d_meal">
                                @Html.Raw(s.Infos.CateringInfo)</p>
                            <p class="d_hotal">
                                @Html.Raw(s.Infos.HotelInfo)
                            </p>
                        </div>
                    }
                </div>
            </div>
            <!--精选饭店-->
            <div class="highlights">
                <h5>
                    精选饭店</h5>
                @foreach (var h in p.HotelList)
                {
                    <div class="hotal_warp">
                        <div class="h_title">
                            <em class="h_t_l"></em>
                            <h6 class="text_overflow">
                                @h.HotelName</h6>
                            <em class="h_t_r"></em>
                        </div>
                        <p class="h_photos">
                            @foreach (var imageInfo in h.PhotoList)
                            {
                                @Html.Image(imageInfo, Url.Content("~/images/nopic3.gif"), null)
                            }
                        </p>
                        <p class="h_desc">
                            @Html.Raw(h.Feature)</p>
                    </div>
                }
            </div>
            <div class="send_order_footer">
                <img alt="鸿鹄逸游" src="@Url.Content("~/images/pdf_footer.jpg")" />
            </div>
        </div>
    </div>
</body>
</html>
